<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>Prolog</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<style>
		body {
			padding: 30px;
		}
		a {
			font: 20px 'Arial';
			color: #333;
			text-decoration: none;
		}
		a:hover {
			color: #369;
		}
		a:active {
			color: #ff4343;
		}
	</style>
</head>
<body data-feedly-mini="yes">
	<p><a target="_blank" href="/main.html">Главная</a></p>
	<p><a target="_blank" href="/doctors.html">Доктора</a></p>
	<p><a target="_blank" href="/doctor.html">Доктор</a></p>
	<p><a target="_blank" href="/price.html">Цены</a></p>
	<p><a target="_blank" href="/question.html">Вопрос-ответ</a></p>
	<p><a target="_blank" href="/answer.html">Ответ на вопрос</a></p>
	<p><a target="_blank" href="/search.html">Поиск по сайту</a></p>
	<p><a target="_blank" href="/contacts.html">Контакты</a></p>
	<p><a target="_blank" href="/page.html">Типовая</a></p>
	<p><a target="_blank" href="/reviews.html">Отзывы</a></p>
	<p><a target="_blank" href="/services.html">Услуги</a></p>
	<p><a target="_blank" href="/clinics.html">Клиники</a></p>
	<p><a target="_blank" href="/clinic.html">Клиника</a></p>
	<p><a target="_blank" href="/service.html">Сервис</a></p>
	
	<hr>
	
	<p><a target="_blank" href="/form-auth.html">Форма авторизации</a></p>
	<p><a target="_blank" href="/form-ok.html">Форма "Ваш вызов принят"</a></p>
	<p><a target="_blank" href="/form-normal.html">Форма "Ваша заявка принята"</a></p>
	

	<div id="feedly-mini" title="feedly Mini tookit"></div>
</body></html>