<!DOCTYPE html>
<!-- saved from url=(0041)/clinic.html -->
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
</style><style type="text/css">.gm-control-active img{box-sizing:content-box;pointer-events:none}.gm-control-active:hover img:nth-child(1),.gm-control-active:active img:nth-child(1),.gm-control-active:active img:nth-child(2){display:none}
</style><link type="text/css" rel="stylesheet" href="./clinic_files/css"><style type="text/css">.gm-ui-hover-effect{opacity:.7}.gm-ui-hover-effect:hover{opacity:1}
</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>

	<title>Кариесу нет</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./clinic_files/main.css">
<style type="text/css">mark.im-caret {
    -webkit-animation: 1s blink step-end infinite !important;
            animation: 1s blink step-end infinite !important;
}

mark.im-caret-select {
    background-color: rgba(0, 0, 0, .25);
}

@-webkit-keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

@keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

span.im-static {
    color: grey;
}

div.im-colormask {
    display: inline-block;
    border-style: inset;
    border-width: 2px;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

div.im-colormask > input {
    position: absolute !important;
    display: inline-block;
    background-color: transparent;
    color: transparent;
    caret-color: transparent;
    -webkit-appearance: caret;
       -moz-appearance: caret;
            appearance: caret;
    border-style: none;
    left: 0; /*calculated*/
}

div.im-colormask > input:focus {
    outline: none;
}

div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > input::selection{
    background: none;
}
div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > div {
    color: black;
    display: inline-block;
    width: 100px; /*calculated*/
}</style><script type="text/javascript" charset="UTF-8" src="./clinic_files/common.js"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/util.js"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/map.js"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/marker.js"></script><style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }</style><script type="text/javascript" charset="UTF-8" src="./clinic_files/onion.js"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/infowindow.js"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/f.txt"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/controls.js"></script><script type="text/javascript" charset="UTF-8" src="./clinic_files/QuotaService.RecordEvent"></script></head>
<body data-feedly-mini="yes">
	<header class="header">
		<div class="wrapper header_wrapper">
			<div class="header_item">
				<a href="/clinic.html" class="header_logo">
					<img width="219" height="69" src="./clinic_files/logo.svg" alt="">
				</a>
			</div>

			<div class="header_item">
				<div class="header_time" id="header-time">
					<p>
						<span>Будние дни:</span>
						<i>пн-пт:</i>
						с 9:00 до 21:00
					</p>
					<p>
						<span>Выходные:</span>
						<i>сб-вс:</i>
						с 10:00 до 18:00
					</p>
				</div>
			</div>

			<div class="header_item">
				<div class="header_phone">
					<a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a>
					<div class="header_phone-text">Единая справочная в Москве</div>
				</div>
			</div>

			<div class="header_item">
				<div class="header_buttons">
					<a href="/clinic.html#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a>
					<a href="/clinic.html#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a>
				</div>
			</div>

			<div class="header_item __mobile">
				<div class="header_mobile">
					<a href="tel:+74952152442" class="header_mobile-tel"></a>
					<button class="header_mobile-nav">
						<i></i><i></i><i></i>
					</button>
				</div>
			</div>
		</div>
	</header>

	<nav class="nav">
		<div class="wrapper nav_wrapper">
			<div class="nav_content">
				<ul class="nav_ul" id="nav-1">
					<li class="active"><a href="/clinic.html"><span>Лечение</span></a></li>
					<li><a href="/clinic.html"><span>Имплантология</span></a></li>
					<li><a href="/clinic.html"><span>Протезирование</span></a></li>
					<li><a href="/clinic.html"><span>Хирургия</span></a></li>
					<li><a href="/clinic.html"><span>Ортондонтия</span></a></li>
					<li><a href="/clinic.html"><span>Гигиена</span></a></li>
					<li><a href="/clinic.html"><span>Детская стоматология</span></a></li>
				</ul>

				<ul class="nav_ul __type-2" id="nav-2">
					<li><a href="/clinic.html"><span>о клинике</span></a></li>
					<li><a href="/clinic.html"><span>цены</span></a></li>
					<li><a href="/clinic.html"><span>вопрос-ответ</span></a></li>
					<li><a href="/clinic.html"><span>контакты</span></a></li>
				</ul>

				<form class="nav_search" action="/clinic.html" id="nav-search">
					<div class="nav_search-inner">
						<input class="nav_input" type="text" placeholder="Поиск по сайту">
						<button class="nav_btn"></button>
					</div>
				</form>
			</div>
		</div>
	</nav>

	<div class="menu">
		<div class="menu_wrap">
			<div class="menu_top">
				<div class="wrapper">
					<div class="menu_nav-1" data-menu-id="#nav-1"><ul class="nav_ul" id="nav-1">
					<li class="active"><a href="/clinic.html"><span>Лечение</span></a></li>
					<li><a href="/clinic.html"><span>Имплантология</span></a></li>
					<li><a href="/clinic.html"><span>Протезирование</span></a></li>
					<li><a href="/clinic.html"><span>Хирургия</span></a></li>
					<li><a href="/clinic.html"><span>Ортондонтия</span></a></li>
					<li><a href="/clinic.html"><span>Гигиена</span></a></li>
					<li><a href="/clinic.html"><span>Детская стоматология</span></a></li>
				</ul></div>
					<div class="menu_nav-2" data-menu-id="#nav-2"><ul class="nav_ul __type-2" id="nav-2">
					<li><a href="/clinic.html"><span>о клинике</span></a></li>
					<li><a href="/clinic.html"><span>цены</span></a></li>
					<li><a href="/clinic.html"><span>вопрос-ответ</span></a></li>
					<li><a href="/clinic.html"><span>контакты</span></a></li>
				</ul></div>
					<div class="menu_search" data-menu-id="#nav-search"><form class="nav_search" action="/clinic.html" id="nav-search">
					<div class="nav_search-inner">
						<input class="nav_input" type="text" placeholder="Поиск по сайту">
						<button class="nav_btn"></button>
					</div>
				</form></div>
				</div>
			</div>

			<div class="menu_bottom">
				<div class="wrapper">
					<div class="menu_info">
						<div class="menu_phone">
							<div class="menu_tel" data-menu-id="#header-tel"><a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a></div>
							<div class="menu_recall-btn" data-menu-id="#header-recall-btn"><a href="/clinic.html#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a></div>
						</div>

						<div class="menu_time" data-menu-id="#header-time"><div class="header_time" id="header-time">
					<p>
						<span>Будние дни:</span>
						<i>пн-пт:</i>
						с 9:00 до 21:00
					</p>
					<p>
						<span>Выходные:</span>
						<i>сб-вс:</i>
						с 10:00 до 18:00
					</p>
				</div></div>
					</div>

					<div class="menu_order-btn" data-menu-id="#header-order-btn"><a href="/clinic.html#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a></div>
				</div>
			</div>

			<button class="menu_close"></button>
		</div>
	</div>

	<div class="content">
		<div class="top __1 __border-none">
			<div class="wrapper">
				<nav class="bread">
					<a href="/clinic.html">Главная</a>
					<span>Клиника на Осташковской</span>
				</nav>

				<h1>Клиника <span>на Осташковской</span></h1>
			</div>
		</div>

		<div class="clinic">
			<div class="clinic_map">
				<div class="clinic_cart" id="map-6" data-center="55.892399, 37.660298" data-placeholder="55.892290,37.674761" data-link="http://www.com" data-address="метро Медведково &lt;br&gt;г. Москва, ул. Осташковская, 30" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -246, -157);"><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -246, -157);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"></div></div></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: 144px; top: -51px; z-index: 2;"><img alt="" src="./clinic_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -246, -157);"><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(1)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(2)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(3)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(4)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(5)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(6)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(7)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(8)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(9)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(10)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(11)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(12)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(13)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(14)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(15)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(16)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./clinic_files/vt(17)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: 144px; top: -51px; z-index: 2;"><img alt="" src="./clinic_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="./clinic_files/saved_resource.html"></iframe><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=55.892399,37.660298&amp;z=14&amp;t=m&amp;hl=ru-RU&amp;gl=US&amp;mapclient=apiv3" title="Open this area in Google Maps (opens a new window)" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="./clinic_files/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 526px; top: 170px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Картографические данные</div><div style="font-size: 13px;">Картографические данные © 2018 Google</div><button draggable="false" title="Close" aria-label="Close" type="button" class="gm-ui-hover-effect" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;"></button></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 281px; bottom: 0px; width: 207px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Картографические данные</a><span>Картографические данные © 2018 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Картографические данные © 2018 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 154px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/ru-RU_US/help/terms_maps.html" target="_blank" rel="noopener" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Условия использования</a></div></div><button draggable="false" title="Включить полноэкранный режим" aria-label="Включить полноэкранный режим" type="button" class="gm-control-active gm-fullscreen-control" style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;"></button><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Сообщить об ошибке на карте или снимке" href="https://www.google.com/maps/@55.892399,37.660298,14z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Сообщить об ошибке на карте</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="40" controlheight="153" style="margin: 10px; user-select: none; position: absolute; bottom: 167px; right: 40px;"><div class="gmnoprint" controlwidth="40" controlheight="81" style="position: absolute; left: 0px; top: 72px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;"><button draggable="false" title="Увеличить" aria-label="Увеличить" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;"></button><div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"></div><button draggable="false" title="Уменьшить" aria-label="Уменьшить" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;"></button></div></div><div class="gm-svpc" controlwidth="40" controlheight="40" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 40px; height: 40px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 50%; top: 50%;"></div><div style="position: absolute; left: 50%; top: 50%;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2238%22%20viewBox%3D%220%200%2023%2038%22%3E%0A%3Cpath%20d%3D%22M16.6%2C38.1h-5.5l-0.2-2.9-0.2%2C2.9h-5.5L5%2C25.3l-0.8%2C2a1.53%2C1.53%2C0%2C0%2C1-1.9.9l-1.2-.4a1.58%2C1.58%2C0%2C0%2C1-1-1.9v-0.1c0.3-.9%2C3.1-11.2%2C3.1-11.2a2.66%2C2.66%2C0%2C0%2C1%2C2.3-2l0.6-.5a6.93%2C6.93%2C0%2C0%2C1%2C4.7-12%2C6.8%2C6.8%2C0%2C0%2C1%2C4.9%2C2%2C7%2C7%2C0%2C0%2C1%2C2%2C4.9%2C6.65%2C6.65%2C0%2C0%2C1-2.2%2C5l0.7%2C0.5a2.78%2C2.78%2C0%2C0%2C1%2C2.4%2C2s2.9%2C11.2%2C2.9%2C11.3a1.53%2C1.53%2C0%2C0%2C1-.9%2C1.9l-1.3.4a1.63%2C1.63%2C0%2C0%2C1-1.9-.9l-0.7-1.8-0.1%2C12.7h0Zm-3.6-2h1.7L14.9%2C20.3l1.9-.3%2C2.4%2C6.3%2C0.3-.1c-0.2-.8-0.8-3.2-2.8-10.9a0.63%2C0.63%2C0%2C0%2C0-.6-0.5h-0.6l-1.1-.9h-1.9l-0.3-2a4.83%2C4.83%2C0%2C0%2C0%2C3.5-4.7A4.78%2C4.78%200%200%2C0%2011%202.3H10.8a4.9%2C4.9%2C0%2C0%2C0-1.4%2C9.6l-0.3%2C2h-1.9l-1%2C.9h-0.6a0.74%2C0.74%2C0%2C0%2C0-.6.5c-2%2C7.5-2.7%2C10-3%2C10.9l0.3%2C0.1%2C2.5-6.3%2C1.9%2C0.3%2C0.2%2C15.8h1.6l0.6-8.4a1.52%2C1.52%2C0%2C0%2C1%2C1.5-1.4%2C1.5%2C1.5%2C0%2C0%2C1%2C1.5%2C1.4l0.9%2C8.4h0Zm-10.9-9.6h0Zm17.5-.1h0Z%22%20style%3D%22fill%3A%23333%3Bopacity%3A0.7%3Bisolation%3Aisolate%22%2F%3E%0A%3Cpath%20d%3D%22M5.9%2C13.6l1.1-.9h7.8l1.2%2C0.9%22%20style%3D%22fill%3A%23ce592c%22%2F%3E%0A%3Cellipse%20cx%3D%2210.9%22%20cy%3D%2213.1%22%20rx%3D%222.7%22%20ry%3D%220.3%22%20style%3D%22fill%3A%23ce592c%3Bopacity%3A0.5%3Bisolation%3Aisolate%22%2F%3E%0A%3Cpath%20d%3D%22M20.6%2C26.1l-2.9-11.3a1.71%2C1.71%2C0%2C0%2C0-1.6-1.2H5.7a1.69%2C1.69%2C0%2C0%2C0-1.5%2C1.3l-3.1%2C11.3a0.61%2C0.61%2C0%2C0%2C0%2C.3.7l1.1%2C0.4a0.61%2C0.61%2C0%2C0%2C0%2C.7-0.3l2.7-6.7%2C0.2%2C16.8h3.6l0.6-9.3a0.47%2C0.47%2C0%2C0%2C1%2C.44-0.5h0.06c0.4%2C0%2C.4.2%2C0.5%2C0.5l0.6%2C9.3h3.6L15.7%2C20.3l2.5%2C6.6a0.52%2C0.52%2C0%2C0%2C0%2C.66.31h0l1.2-.4a0.57%2C0.57%2C0%2C0%2C0%2C.5-0.7h0Z%22%20style%3D%22fill%3A%23fdbf2d%22%2F%3E%0A%3Cpath%20d%3D%22M7%2C13.6l3.9%2C6.7%2C3.9-6.7%22%20style%3D%22fill%3A%23cf572e%3Bopacity%3A0.6%3Bisolation%3Aisolate%22%2F%3E%0A%3Ccircle%20cx%3D%2210.9%22%20cy%3D%227%22%20r%3D%225.9%22%20style%3D%22fill%3A%23fdbf2d%22%2F%3E%0A%3C%2Fsvg%3E%0A" aria-label="Управление человечком в режиме просмотра улиц" style="width: 18px; height: 30px; position: absolute; left: -9px; top: -15px; pointer-events: none;"><img src="data:image/svg+xml,%3Csvg%20width%3D%2224px%22%20height%3D%2238px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2024%2038%22%3E%0A%3Cpath%20d%3D%22M22%2C26.6l-2.9-11.3a2.78%2C2.78%2C0%2C0%2C0-2.4-2l-0.7-.5a6.82%2C6.82%2C0%2C0%2C0%2C2.2-5%2C6.9%2C6.9%2C0%2C0%2C0-13.8%2C0%2C7%2C7%2C0%2C0%2C0%2C2.2%2C5.1l-0.6.5a2.55%2C2.55%2C0%2C0%2C0-2.3%2C2s-3%2C11.1-3%2C11.2v0.1a1.58%2C1.58%2C0%2C0%2C0%2C1%2C1.9l1.2%2C0.4a1.63%2C1.63%2C0%2C0%2C0%2C1.9-.9l0.8-2%2C0.2%2C12.8h11.3l0.2-12.6%2C0.7%2C1.8a1.54%2C1.54%2C0%2C0%2C0%2C1.5%2C1%2C1.09%2C1.09%2C0%2C0%2C0%2C.5-0.1l1.3-.4a1.85%2C1.85%2C0%2C0%2C0%2C.7-2h0Zm-1.2.9-1.2.4a0.61%2C0.61%2C0%2C0%2C1-.7-0.3l-2.5-6.6-0.2%2C16.8h-9.4L6.6%2C21l-2.7%2C6.7a0.52%2C0.52%2C0%2C0%2C1-.66.31h0l-1.1-.4a0.52%2C0.52%2C0%2C0%2C1-.31-0.66v0l3.1-11.3a1.69%2C1.69%2C0%2C0%2C1%2C1.5-1.3h0.2l1-.9h2.3a5.9%2C5.9%2C0%2C1%2C1%2C3.2%2C0h2.3l1.1%2C0.9h0.2a1.71%2C1.71%2C0%2C0%2C1%2C1.6%2C1.2l2.9%2C11.3a0.84%2C0.84%2C0%2C0%2C1-.4.7h0Z%22%20style%3D%22fill%3A%23333%3Bfill-opacity%3A0.2%22%2F%3E%22%0A%3C%2Fsvg%3E%0A%0A" aria-label="Человечек находится над картой" style="display: none; width: 18px; height: 30px; position: absolute; left: -9px; top: -15px; pointer-events: none;"><img src="data:image/svg+xml,%3Csvg%20width%3D%2240px%22%20height%3D%2250px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2040%2050%22%3E%0A%3Cpath%20d%3D%22M34.00%2C-30.40l-2.9-11.3a2.78%2C2.78%2C0%2C0%2C0-2.4-2l-0.7-.5a6.82%2C6.82%2C0%2C0%2C0%2C2.2-5%2C6.9%2C6.9%2C0%2C0%2C0-13.8%2C0%2C7%2C7%2C0%2C0%2C0%2C2.2%2C5.1l-0.6.5a2.55%2C2.55%2C0%2C0%2C0-2.3%2C2s-3%2C11.1-3%2C11.2v0.1a1.58%2C1.58%2C0%2C0%2C0%2C1%2C1.9l1.2%2C0.4a1.63%2C1.63%2C0%2C0%2C0%2C1.9-.9l0.8-2%2C0.2%2C12.8h11.3l0.2-12.6%2C0.7%2C1.8a1.54%2C1.54%2C0%2C0%2C0%2C1.5%2C1%2C1.09%2C1.09%2C0%2C0%2C0%2C.5-0.1l1.3-.4a1.85%2C1.85%2C0%2C0%2C0%2C.7-2h0Zm-1.2.9-1.2.4a0.61%2C0.61%2C0%2C0%2C1-.7-0.3l-2.5-6.6-0.2%2C16.8h-9.4L18.60%2C-36.00l-2.7%2C6.7a0.52%2C0.52%2C0%2C0%2C1-.66.31h0l-1.1-.4a0.52%2C0.52%2C0%2C0%2C1-.31-0.66v0l3.1-11.3a1.69%2C1.69%2C0%2C0%2C1%2C1.5-1.3h0.2l1-.9h2.3a5.9%2C5.9%2C0%2C1%2C1%2C3.2%2C0h2.3l1.1%2C0.9h0.2a1.71%2C1.71%2C0%2C0%2C1%2C1.6%2C1.2l2.9%2C11.3a0.84%2C0.84%2C0%2C0%2C1-.4.7h0Zm1.2%2C59.1-2.9-11.3a2.78%2C2.78%2C0%2C0%2C0-2.4-2l-0.7-.5a6.82%2C6.82%2C0%2C0%2C0%2C2.2-5%2C6.9%2C6.9%2C0%2C0%2C0-13.8%2C0%2C7%2C7%2C0%2C0%2C0%2C2.2%2C5.1l-0.6.5a2.55%2C2.55%2C0%2C0%2C0-2.3%2C2s-3%2C11.1-3%2C11.2v0.1a1.58%2C1.58%2C0%2C0%2C0%2C1%2C1.9l1.2%2C0.4a1.63%2C1.63%2C0%2C0%2C0%2C1.9-.9l0.8-2%2C0.2%2C12.8h11.3l0.2-12.6%2C0.7%2C1.8a1.54%2C1.54%2C0%2C0%2C0%2C1.5%2C1%2C1.09%2C1.09%2C0%2C0%2C0%2C.5-0.1l1.3-.4a1.85%2C1.85%2C0%2C0%2C0%2C.7-2h0Zm-1.2.9-1.2.4a0.61%2C0.61%2C0%2C0%2C1-.7-0.3l-2.5-6.6-0.2%2C16.8h-9.4L18.60%2C24.00l-2.7%2C6.7a0.52%2C0.52%2C0%2C0%2C1-.66.31h0l-1.1-.4a0.52%2C0.52%2C0%2C0%2C1-.31-0.66v0l3.1-11.3a1.69%2C1.69%2C0%2C0%2C1%2C1.5-1.3h0.2l1-.9h2.3a5.9%2C5.9%2C0%2C1%2C1%2C3.2%2C0h2.3l1.1%2C0.9h0.2a1.71%2C1.71%2C0%2C0%2C1%2C1.6%2C1.2l2.9%2C11.3a0.84%2C0.84%2C0%2C0%2C1-.4.7h0Z%22%20style%3D%22fill%3A%23333%3Bfill-opacity%3A0.2%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M15.40%2C38.80h-4a1.64%2C1.64%2C0%2C0%2C1-1.4-1.1l-3.1-8a0.9%2C0.9%2C0%2C0%2C1-.5.1l-1.4.1a1.62%2C1.62%2C0%2C0%2C1-1.6-1.4l-1.1-13.1%2C1.6-1.3a6.87%2C6.87%2C0%2C0%2C1-3-4.6A7.14%2C7.14%200%200%2C1%202%204a7.6%2C7.6%2C0%2C0%2C1%2C4.7-3.1%2C7.14%2C7.14%2C0%2C0%2C1%2C5.5%2C1.1%2C7.28%2C7.28%2C0%2C0%2C1%2C2.3%2C9.6l2.1-.1%2C0.1%2C1c0%2C0.2.1%2C0.5%2C0.1%2C0.8a2.41%2C2.41%2C0%2C0%2C1%2C1%2C1s1.9%2C3.2%2C2.8%2C4.9c0.7%2C1.2%2C2.1%2C4.2%2C2.8%2C5.9a2.1%2C2.1%2C0%2C0%2C1-.8%2C2.6l-0.6.4a1.63%2C1.63%2C0%2C0%2C1-1.5.2l-0.6-.3a8.93%2C8.93%2C0%2C0%2C0%2C.5%2C1.3%2C7.91%2C7.91%2C0%2C0%2C0%2C1.8%2C2.6l0.6%2C0.3v4.6l-4.5-.1a7.32%2C7.32%2C0%2C0%2C1-2.5-1.5l-0.4%2C3.6h0Zm-10-19.2%2C3.5%2C9.8%2C2.9%2C7.5h1.6V35l-1.9-9.4%2C3.1%2C5.4a8.24%2C8.24%2C0%2C0%2C0%2C3.8%2C3.8h2.1v-1.4a14%2C14%2C0%2C0%2C1-2.2-3.1%2C44.55%2C44.55%2C0%2C0%2C1-2.2-8l-1.3-6.3%2C3.2%2C5.6c0.6%2C1.1%2C2.1%2C3.6%2C2.8%2C4.9l0.6-.4c-0.8-1.6-2.1-4.6-2.8-5.8-0.9-1.7-2.8-4.9-2.8-4.9a0.54%2C0.54%2C0%2C0%2C0-.4-0.3l-0.7-.1-0.1-.7a4.33%2C4.33%2C0%2C0%2C0-.1-0.5l-5.3.3%2C2.2-1.9a4.3%2C4.3%2C0%2C0%2C0%2C.9-1%2C5.17%2C5.17%2C0%2C0%2C0%2C.8-4%2C5.67%2C5.67%2C0%2C0%2C0-2.2-3.4%2C5.09%2C5.09%2C0%2C0%2C0-4-.8%2C5.67%2C5.67%2C0%2C0%2C0-3.4%2C2.2%2C5.17%2C5.17%2C0%2C0%2C0-.8%2C4%2C5.67%2C5.67%2C0%2C0%2C0%2C2.2%2C3.4%2C3.13%2C3.13%2C0%2C0%2C0%2C1%2C.5l1.6%2C0.6-3.2%2C2.6%2C1%2C11.5h0.4l-0.3-8.2h0Z%22%20style%3D%22fill%3A%23333%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M3.35%2C15.90l1.1%2C12.5a0.39%2C0.39%2C0%2C0%2C0%2C.36.42l0.14%2C0%2C1.4-.1a0.66%2C0.66%2C0%2C0%2C0%2C.5-0.4l-0.2-3.8-3.3-8.6h0Z%22%20style%3D%22fill%3A%23fdbf2d%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M5.20%2C28.80l1.1-.1a0.66%2C0.66%2C0%2C0%2C0%2C.5-0.4l-0.2-3.8-1.2-3.1Z%22%20style%3D%22fill%3A%23ce592b%3Bfill-opacity%3A0.25%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M21.40%2C35.70l-3.8-1.2-2.7-7.8L12.00%2C15.5l3.4-2.9c0.2%2C2.4%2C2.2%2C14.1%2C3.7%2C17.1%2C0%2C0%2C1.3%2C2.6%2C2.3%2C3.1v2.9m-8.4-8.1-2-.3%2C2.5%2C10.1%2C0.9%2C0.4v-2.9%22%20style%3D%22fill%3A%23e5892b%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M17.80%2C25.40c-0.4-1.5-.7-3.1-1.1-4.8-0.1-.4-0.1-0.7-0.2-1.1l-1.1-2-1.7-1.6s0.9%2C5%2C2.4%2C7.1a19.12%2C19.12%2C0%2C0%2C0%2C1.7%2C2.4h0Z%22%20style%3D%22fill%3A%23cf572e%3Bopacity%3A0.6%3Bisolation%3Aisolate%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M14.40%2C37.80h-3a0.43%2C0.43%2C0%2C0%2C1-.4-0.4l-3-7.8-1.7-4.8-3-9%2C8.9-.4s2.9%2C11.3%2C4.3%2C14.4c1.9%2C4.1%2C3.1%2C4.7%2C5%2C5.8h-3.2s-4.1-1.2-5.9-7.7a0.59%2C0.59%2C0%2C0%2C0-.6-0.4%2C0.62%2C0.62%2C0%2C0%2C0-.3.7s0.5%2C2.4.9%2C3.6a34.87%2C34.87%2C0%2C0%2C0%2C2%2C6h0Z%22%20style%3D%22fill%3A%23fdbf2d%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M15.40%2C12.70l-3.3%2C2.9-8.9.4%2C3.3-2.7%22%20style%3D%22fill%3A%23ce592b%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M9.10%2C21.10l1.4-6.2-5.9.5%22%20style%3D%22fill%3A%23cf572e%3Bopacity%3A0.6%3Bisolation%3Aisolate%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M12.00%2C13.5a4.75%2C4.75%2C0%2C0%2C1-2.6%2C1.1c-1.5.3-2.9%2C0.2-2.9%2C0s1.1-.6%2C2.7-1%22%20style%3D%22fill%3A%23bb3d19%22%3E%3C%2Fpath%3E%0A%3Ccircle%20cx%3D%227.92%22%20cy%3D%228.19%22%20r%3D%226.3%22%20style%3D%22fill%3A%23fdbf2d%22%3E%3C%2Fcircle%3E%0A%3Cpath%20d%3D%22M4.70%2C13.60a6.21%2C6.21%2C0%2C0%2C0%2C8.4-1.9v-0.1a8.89%2C8.89%2C0%2C0%2C1-8.4%2C2h0Z%22%20style%3D%22fill%3A%23ce592b%3Bfill-opacity%3A0.25%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M21.20%2C27.20l0.6-.4a1.09%2C1.09%2C0%2C0%2C0%2C.4-1.3c-0.7-1.5-2.1-4.6-2.8-5.8-0.9-1.7-2.8-4.9-2.8-4.9a1.6%2C1.6%2C0%2C0%2C0-2.17-.65l-0.23.15a1.68%2C1.68%2C0%2C0%2C0-.4%2C2.1s2.3%2C3.9%2C3.1%2C5.3c0.6%2C1%2C2.1%2C3.7%2C2.9%2C5.1a0.94%2C0.94%2C0%2C0%2C0%2C1.24.49l0.16-.09h0Z%22%20style%3D%22fill%3A%23fdbf2d%22%3E%3C%2Fpath%3E%0A%3Cpath%20d%3D%22M19.40%2C19.80c-0.9-1.7-2.8-4.9-2.8-4.9a1.6%2C1.6%2C0%2C0%2C0-2.17-.65l-0.23.15-0.3.3c1.1%2C1.5%2C2.9%2C3.8%2C3.9%2C5.4%2C1.1%2C1.8%2C2.9%2C5%2C3.8%2C6.7l0.1-.1a1.09%2C1.09%2C0%2C0%2C0%2C.4-1.3%2C57.67%2C57.67%2C0%2C0%2C0-2.7-5.6h0Z%22%20style%3D%22fill%3A%23ce592b%3Bfill-opacity%3A0.25%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A" aria-label="Управление человечком в режиме просмотра улиц" style="display: none; width: 32px; height: 40px; position: absolute; left: -18px; top: -18px; pointer-events: none;"></div></div><div class="gmnoprint" controlwidth="40" controlheight="40" style="display: none; position: absolute;"><div style="width: 40px; height: 40px;"><button draggable="false" title="Rotate map 90 degrees" aria-label="Rotate map 90 degrees" type="button" class="gm-control-active" style="background: none rgb(255, 255, 255); display: none; border: 0px; margin: 0px 0px 32px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 28px; width: 28px; margin: 6px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 28px; width: 28px; margin: 6px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 28px; width: 28px; margin: 6px;"></button><button draggable="false" title="Tilt map" aria-label="Tilt map" type="button" class="gm-tilt gm-control-active" style="background: none rgb(255, 255, 255); display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="width: 18px; height: 16px; margin: 12px 11px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="width: 18px; height: 16px; margin: 12px 11px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="width: 18px; height: 16px; margin: 12px 11px;"></button></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Показать карту с названиями объектов" aria-label="Показать карту с названиями объектов" aria-pressed="true" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; height: 40px; display: table-cell; vertical-align: middle; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 18px; background-color: rgb(255, 255, 255); padding: 0px 17px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 48px; font-weight: 500;">Карта</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; left: 0px; top: 40px; text-align: left; display: none;"><div draggable="false" title="Показать карту рельефа с названиями объектов" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 18px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img alt="" src="./clinic_files/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Рельеф</label></div></div></div><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Показать спутниковую карту" aria-label="Показать спутниковую карту" aria-pressed="false" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; height: 40px; display: table-cell; vertical-align: middle; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 18px; background-color: rgb(255, 255, 255); padding: 0px 17px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 68px; border-left: 0px;">Спутник</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; right: 0px; top: 40px; text-align: left; display: none;"><div draggable="false" title="Показать спутниковую карту с названиями объектов" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 18px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img alt="" src="./clinic_files/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Названия объектов</label></div></div></div></div></div></div></div>

				<div class="clinic_info">
					<div class="wrapper">
						<div class="clinic_data">
							<div class="clinic_data-block">
								<h4>График работы клиник</h4>

								<div class="clinic_time-block">
									<div class="clinic_time-item">
										<div class="clinic_day">Понедельник-пятница</div>
										<div class="clinic_time">9:00 – 21:00</div>
									</div>

									<div class="clinic_time-item">
										<div class="clinic_day">Суббота-воскресенье</div>
										<div class="clinic_time">10:00-16:00</div>
									</div>
								</div>
							</div>

							<div class="clinic_data-block">
								<h4>Единый телефон</h4>

								<a href="tel:777" class="clinic_tel">+7 (495) 215-24-42</a>

								<a href="/clinic.html" class="clinic_recall">Заказать звонок</a>
							</div>

							<a href="/clinic.html" class="button clinic_btn">записаться на прием</a>
						</div>
					</div>
				</div>
			</div>

			<div class="clinic_about">
				<div class="wrapper">
					<h2 class="clinic_heading">О клинике</h2>
					<div class="clinic_row">
						<div class="clinic_col">
							<h2 class="clinic_heading-2">О клинике</h2>

							<div class="clinic_text">
								<p>Стоматологи  расположена прямо между двумя ключевыми станциями московского метрополитена — Дубровка и Автозаводская, по Велозаводской улице. Это один из самых удачных, с точки зрения своего расположения, центров сети «Юнидент». Находясь в центре столицы, клиника стоматологии позволяет своим посетителям существенно сократить время, затрачиваемое на поездку до учреждения. При этом добираться до центра одинаково удобно как на общественном транспорте, так и на личном авто. Подъезд непосредственно к стоматологической клинике на метро Автозаводская оборудован и со стороны Третьего, и со стороны Садового кольца. Где бы вы ни находились, вы всегда сможете доехать  буквально за несколько десятков минут.</p>
							</div>

							<div class="clinic_links">
								<a href="/clinic.html">Лицензии</a>
								<a href="/clinic.html">График работы</a>
							</div>
						</div>

						<div class="clinic_col">
							<div class="clinic_slider slick-initialized slick-slider"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
								<div class="slick-list draggable" style="height: 400px;"><div class="slick-track" style="opacity: 1; width: 2900px; transform: translate3d(-580px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 580px;" tabindex="-1">
									<div class="clinic_slider-item">
										<img src="./clinic_files/slider2.jpg" alt="">
									</div>
								</div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 580px;" tabindex="0">
									<div class="clinic_slider-item">
										<img src="./clinic_files/slider2.jpg" alt="">
									</div>
								</div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 580px;" tabindex="-1">
									<div class="clinic_slider-item">
										<img src="./clinic_files/slider2.jpg" alt="">
									</div>
								</div><div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" style="width: 580px;" tabindex="-1">
									<div class="clinic_slider-item">
										<img src="./clinic_files/slider2.jpg" alt="">
									</div>
								</div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 580px;" tabindex="-1">
									<div class="clinic_slider-item">
										<img src="./clinic_files/slider2.jpg" alt="">
									</div>
								</div></div></div>

							<button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="doctors-more">
			<div class="wrapper">
				<h2 class="doctors-more_heading">Доктора клиники</h2>

				<div class="doctors-more_items">
					<div class="doctors-more_item" style="background-image: url(img/doctor-2.jpg)">
						<div class="doctors-more_content">
							<div class="doctors-more_name">Гвилава Андро Дилариевич</div>
							<div class="doctors-more_text">Ортопед, терапевт</div>
							<a href="/clinic.html" class="doctors-more_link">О враче</a>
						</div>
					</div>
					<div class="doctors-more_item" style="background-image: url(img/doctor-2.jpg)">
						<div class="doctors-more_content">
							<div class="doctors-more_name">Гвилава Андро Дилариевич</div>
							<div class="doctors-more_text">Ортопед, терапевт</div>
							<a href="/clinic.html" class="doctors-more_link">О враче</a>
						</div>
					</div>
					<div class="doctors-more_item" style="background-image: url(img/doctor-2.jpg)">
						<div class="doctors-more_content">
							<div class="doctors-more_name">Гвилава Андро Дилариевич</div>
							<div class="doctors-more_text">Ортопед, терапевт</div>
							<a href="/clinic.html" class="doctors-more_link">О враче</a>
						</div>
					</div>
				</div>

				<a href="/clinic.html" class="doctors-more_btn">+ показать еще</a>
			</div>
		</div>

		<div class="wrapper">
			<div class="reviews __padding">
				<h2>О нас говорят клиенты</h2>

				<div class="reviews_block">
					<div class="reviews_left">
						<div class="reviews_items">
							<article class="reviews_item">
								<div class="reviews_top">
									<div class="reviews_human">
										<div class="reviews_image">
											<img src="./clinic_files/human.jpg" alt="">
										</div>

										<div class="reviews_human-content">
											<div class="reviews_name">Алексей В.</div>
											<div class="reviews_date">12.04.2017</div>
											<div class="reviews_star">
												<div class="reviews_star-text">Оценка:</div>

												<ul class="reviews_stars">
													<li class="active"></li>
													<li class="active"></li>
													<li class="active"></li>
													<li class="active"></li>
													<li></li>
												</ul>
											</div>
										</div>
									</div>

									<ul class="reviews_about">
										<li>О враче: <a href="/clinic.html">Хуриев Рамзес Русланович</a></li>
										<li>Клиника: <a href="/clinic.html">ул. Осташковская, 30</a></li>
									</ul>
								</div>

								<div class="reviews_text">Я попал в Стоматологию случайно. Днём разболелся зуб, и по дороге домой с работы я зашел возле дома в стоматологию. быстро решили мою проблему, внимательные врачи! Спасибо докторам на Велозаводской. Теперь я знаю, где мне всегда помогут.</div>

								<div class="reviews_useful">
									<img src="./clinic_files/like.svg" width="16" height="16" alt="">
									<a href="/clinic.html">Полезно?</a>
								</div>
							</article>

							<article class="reviews_item">
								<div class="reviews_top">
									<div class="reviews_human">
										<div class="reviews_image">
											<img src="./clinic_files/human.jpg" alt="">
										</div>

										<div class="reviews_human-content">
											<div class="reviews_name">Алексей В.</div>
											<div class="reviews_date">12.04.2017</div>
											<div class="reviews_star">
												<div class="reviews_star-text">Оценка:</div>

												<ul class="reviews_stars">
													<li class="active"></li>
													<li class="active"></li>
													<li class="active"></li>
													<li class="active"></li>
													<li></li>
												</ul>
											</div>
										</div>
									</div>

									<ul class="reviews_about">
										<li>О враче: <a href="/clinic.html">Хуриев Рамзес Русланович</a></li>
										<li>Клиника: <a href="/clinic.html">ул. Осташковская, 30</a></li>
									</ul>
								</div>

								<div class="reviews_text">Я попал в Стоматологию случайно. Днём разболелся зуб, и по дороге домой с работы я зашел возле дома в стоматологию. быстро решили мою проблему, внимательные врачи! Спасибо докторам на Велозаводской. Теперь я знаю, где мне всегда помогут.</div>

								<div class="reviews_images">
									<img src="./clinic_files/a1.jpg" alt="">
									<img src="./clinic_files/a2.jpg" alt="">
									<img src="./clinic_files/a1.jpg" alt="">
								</div>

								<div class="reviews_useful">
									<img src="./clinic_files/like.svg" width="16" height="16" alt="">
									<a href="/clinic.html">Полезно?</a>
								</div>
							</article>
						</div>

						<div class="pagination-block">
							<div class="pagination-block_left">
								<a href="/clinic.html" class="pagination-block_more">+ Показать еще</a>
							</div>

							<div class="pagination-block_right">
								<div class="pagination">
									<a href="/clinic.html" class="pagination_prev"></a>
									<a href="/clinic.html">1</a>
									<a class="active" href="/clinic.html">2</a>
									<a href="/clinic.html">3</a>
									<a href="/clinic.html">...</a>
									<a href="/clinic.html">17</a>
									<a href="/clinic.html" class="pagination_next"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="reviews_right">
						<form action="/clinic.html" class="reviews_form">
							<div class="reviews_form-title">Оставить отзыв</div>

							<div class="reviews_form-item">
								<label class="reviews_label">Доктор</label>

								<div class="reviews_form-data">
									<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
										<option value="Доктор 1">Доктор 1</option>
										<option value="Доктор 2">Доктор 2</option>
									</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-cqp0-container"><span class="select2-selection__rendered" id="select2-cqp0-container" title="Доктор 1">Доктор 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
								</div>

								<div class="reviews_star">
									<div class="reviews_star-text __type-2">Оцените доктора:</div>

									<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
										<option></option>
										<option value="1"></option>
										<option value="2"></option>
										<option value="3"></option>
										<option value="4"></option>
										<option value="5"></option>
									</select><div class="br-widget"><a href="/clinic.html#" data-rating-value="1" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="2" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="3" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="4" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
								</div>
							</div>

							<div class="reviews_form-item">
								<label class="reviews_label">Клиника</label>

								<div class="reviews_form-data">
									<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
										<option value="Клиника 1">Клиника 1</option>
										<option value="Клиника 2">Клиника 2</option>
									</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-r2xj-container"><span class="select2-selection__rendered" id="select2-r2xj-container" title="Клиника 1">Клиника 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
								</div>

								<div class="reviews_star">
									<div class="reviews_star-text __type-2">Оцените клинику:</div>

									<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
										<option></option>
										<option value="1"></option>
										<option value="2"></option>
										<option value="3"></option>
										<option value="4"></option>
										<option value="5"></option>
									</select><div class="br-widget"><a href="/clinic.html#" data-rating-value="1" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="2" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="3" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="4" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
								</div>
							</div>

							<div class="reviews_form-item __offset-min">
								<label class="reviews_label">Ваш отзыв</label>

								<div class="reviews_form-data">
									<textarea required="" class="reviews_area"></textarea>
								</div>
							</div>

							<div class="reviews_form-item __offset-min-2">
								<div class="reviews_row">
									<div class="reviews_col">
										<input type="file" multiple="" class="jfilestyle" data-input="false" data-text="Приложить фото" id="jfilestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"><div class="jfilestyle   jfilestyle-theme-default"><div name="filedrag" style="position: absolute; width: 100%; height: 20px; z-index: -1;"></div><span class="focus-jfilestyle" tabindex="0"><label for="jfilestyle-0"><span>Приложить фото</span></label></span></div>
									</div>
									<div class="reviews_col">
										<button type="submit" class="button">Оставить отзыв</button>
									</div>
								</div>
							</div>

							<div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="clinics __padding __bordered __no-padding-top-mobile">
			<div class="clinics_content __base">
				<div class="wrapper clinics_wrapper">
					<h2>Другие клиники</h2>

					<div class="clinics_items">
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="./clinic_files/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="/clinic.html">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="./clinic_files/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="/clinic.html">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="./clinic_files/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="/clinic.html">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="footer_top __1">
			<div class="wrapper">
				<div class="footer_top-content">
					<div class="footer_top-left">
						<div class="footer_top-heading">Мы работаем для вас без выходных!</div>
						<p class="footer_top-descr">Записаться можно по телефону:</p>
					</div>
					<div class="footer_top-right">
						<a href="tel:777" class="footer_top-phone">+7 (495) 215-24-42</a>
						<a href="/clinic.html#form-recall" class="button footer_top-btn popup">заказать звонок</a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer_middle">
			<div class="wrapper">
				<div class="footer_row __only-flex">
					<div class="footer_col">
						<div class="footer_heading">Услуги</div>

						<div class="footer_row">
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/clinic.html">Лечение</a></li>
									<li><a href="/clinic.html">Имплантология</a></li>
									<li><a href="/clinic.html">Протезирование</a></li>
								</ul>
							</div>

							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/clinic.html">Хирургия</a></li>
									<li><a href="/clinic.html">Ортодонтия</a></li>
									<li><a href="/clinic.html">Гигиена</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer_col">
						<div class="footer_heading">Навигация</div>

						<div class="footer_row">
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/clinic.html">Цены</a></li>
									<li><a href="/clinic.html">Клиники</a></li>
									<li><a href="/clinic.html">Доктора</a></li>
									<li><a href="/clinic.html">Пациентам</a></li>
								</ul>
							</div>

							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/clinic.html">Отзывы</a></li>
									<li><a href="/clinic.html">Вакансии</a></li>
									<li><a href="/clinic.html">Карта сайта</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer_bottom">
			<div class="wrapper">
				<div class="footer_bottom-row">
					<a href="/clinic.html" class="footer_logo">
						<img src="./clinic_files/logo2.svg" width="219" height="69" alt="">
					</a>

					<div class="footer_copy">© 1998-2017 «Кариесу.нет» ООО «КХЗ»</div>

					<div class="footer_socials">
						<div class="footer_socials-text">Мы в социальных сетях:</div>

						<div class="footer_socials-items">
							<a href="/clinic.html"><img src="./clinic_files/vk.svg" alt=""></a>
							<a href="/clinic.html"><img src="./clinic_files/facebook.svg" alt=""></a>
							<a href="/clinic.html"><img src="./clinic_files/insta.svg" alt=""></a>
							<a href="/clinic.html"><img src="./clinic_files/youtube.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="forms mfp-hide" id="form-recall">
		<form action="/clinic.html" class="form">
			<h4 class="form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</h4>

			<div class="form_item">
				<label class="form_label">Ваше имя</label>

				<div class="form_data">
					<input type="text" class="form_input">
				</div>
			</div>

			<div class="form_item">
				<label class="form_label">Номер телефона</label>

				<div class="form_data">
					<input type="tel" class="form_input">
				</div>
			</div>

			<div class="form_button">
				<button class="button" type="submit">заказать звонок</button>
			</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms mfp-hide" id="form-reviews">
		<form action="/clinic.html" class="reviews_form forms_reviews">
			<div class="reviews_form-title">Оставить отзыв</div>

			<div class="reviews_form-item">
				<label class="reviews_label">Доктор</label>

				<div class="reviews_form-data">
					<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Доктор 1">Доктор 1</option>
						<option value="Доктор 2">Доктор 2</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-0p16-container"><span class="select2-selection__rendered" id="select2-0p16-container" title="Доктор 1">Доктор 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>

				<div class="reviews_star">
					<div class="reviews_star-text __type-2">Оцените доктора:</div>

					<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
						<option></option>
						<option value="1"></option>
						<option value="2"></option>
						<option value="3"></option>
						<option value="4"></option>
						<option value="5"></option>
					</select><div class="br-widget"><a href="/clinic.html#" data-rating-value="1" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="2" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="3" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="4" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
				</div>
			</div>

			<div class="reviews_form-item">
				<label class="reviews_label">Клиника</label>

				<div class="reviews_form-data">
					<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Клиника 1">Клиника 1</option>
						<option value="Клиника 2">Клиника 2</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-wtnh-container"><span class="select2-selection__rendered" id="select2-wtnh-container" title="Клиника 1">Клиника 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>

				<div class="reviews_star">
					<div class="reviews_star-text __type-2">Оцените клинику:</div>

					<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
						<option></option>
						<option value="1"></option>
						<option value="2"></option>
						<option value="3"></option>
						<option value="4"></option>
						<option value="5"></option>
					</select><div class="br-widget"><a href="/clinic.html#" data-rating-value="1" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="2" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="3" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="4" data-rating-text=""></a><a href="/clinic.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
				</div>
			</div>

			<div class="reviews_form-item __offset-min">
				<label class="reviews_label">Ваш отзыв</label>

				<div class="reviews_form-data">
					<textarea required="" class="reviews_area"></textarea>
				</div>
			</div>

			<div class="reviews_form-item __offset-min-2">
				<div class="reviews_row">
					<div class="reviews_col">
						<input type="file" multiple="" class="jfilestyle" data-input="false" data-text="Приложить фото" id="jfilestyle-1" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"><div class="jfilestyle   jfilestyle-theme-default"><div name="filedrag" style="position: absolute; width: 100%; height: 0px; z-index: -1;"></div><span class="focus-jfilestyle" tabindex="0"><label for="jfilestyle-1"><span>Приложить фото</span></label></span></div>
					</div>
					<div class="reviews_col">
						<button type="submit" class="button">Оставить отзыв</button>
					</div>
				</div>
			</div>

			<div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __order mfp-hide" id="form-order">
		<form class="form">
			<h3 class="form_title">Запись на прием</h3>

			<div class="form_item">
				<label class="form_label">Услуга</label>

				<div class="form_data">
					<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-hyr4-container"><span class="select2-selection__rendered" id="select2-hyr4-container" title="Ортопедия">Ортопедия</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>

			<div class="form_item">
				<label class="form_label">Врач</label>

				<div class="form_data">
					<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option>Рыбин Валерий Анатольевич</option>
						<option>Рыбин Валерий Анатольевич</option>
						<option>Рыбин Валерий Анатольевич</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-yf62-container"><span class="select2-selection__rendered" id="select2-yf62-container" title="Рыбин Валерий Анатольевич">Рыбин Валерий Анатольевич</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>

			<div class="form_item">
				<label class="form_label">Дата и время приема</label>

				<div class="form_data">
					<div class="form_row">
						<div class="form_col">
							<div class="form_input-block">
								<input class="form_input date" type="text">
							</div>
						</div>
						<div class="form_col">
							<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
								<option>10:30</option>
								<option>10:40</option>
								<option>10:50</option>
							</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-1ia8-container"><span class="select2-selection__rendered" id="select2-1ia8-container" title="10:30">10:30</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Ваш контактный телефон</label>

				<div class="form_data">
					<input type="tel" class="form_input">
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Ваше имя</label>

				<div class="form_data">
					<input type="text" class="form_input">
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Комментарий (необязательно)</label>

				<div class="form_data">
					<textarea class="form_area"></textarea>
				</div>
			</div>

			<div class="form_button">
				<button type="submit" class="button">отправить</button>
			</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __auth mfp-hide" id="form-auth">
		<form class="form">
			<div class="form_auth-title">Авторизоваться с помощью социальных сетей</div>

			<div class="form_socials">
				<a href="/clinic.html"><img src="./clinic_files/vk.svg" alt=""></a>
				<a href="/clinic.html"><img src="./clinic_files/facebook.svg" alt=""></a>
				<a href="/clinic.html"><img src="./clinic_files/insta.svg" alt=""></a>
				<a href="/clinic.html"><img src="./clinic_files/youtube.svg" alt=""></a>
			</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __ok mfp-hide" id="form-call-ok">
		<div class="form">
			<div class="form_image">
				<img src="./clinic_files/ok.svg" width="59" alt="">
			</div>
			<p class="form_ok">Ваш вызов принят!</p>
		</div>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __normal mfp-hide" id="form-normal">
		<div class="form">
			<div class="form_normal">Ваша заявка принята!</div>
			<p class="form_normal-text">В ближайшее время с Вами свяжутся наши специалисты для подтверждения запроса</p>
		</div>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<script src="./clinic_files/jquery.min.js"></script>
	<script src="./clinic_files/slick.min.js"></script>
	<script src="./clinic_files/select2.min.js"></script>
	<script src="./clinic_files/jquery.magnific-popup.min.js"></script>
	<script src="./clinic_files/jquery.barrating.min.js"></script>
	<script src="./clinic_files/bootstrap-datepicker.min.js"></script>
	<script src="./clinic_files/bootstrap-datepicker.ru.min.js"></script>
	<script src="./clinic_files/jquery-filestyle.min.js"></script>
	<script src="./clinic_files/jquery.maskedinput.min.js"></script>
	<script src="./clinic_files/lib.js"></script>
	<script src="./clinic_files/app.js"></script>
	<script src="./clinic_files/js" async="" defer=""></script>

<div id="feedly-mini" title="feedly Mini tookit"></div></body></html>