{% block content %}
    {% if content|render|striptags|trim %}
            <div class="wrapper another-stock">
            	<h2>{{label}}</h2>
                {{ content }}
            </div>
    {% endif %}
{% endblock %}
