{% block content %}
    {% if content|render|striptags|trim %}
        <div class="doctors-more">
            <div class="wrapper">
            	<h2>Наши врачи</h2>
                {{ content }}
            </div>
        </div>
    {% endif %}
{% endblock %}
