{% extends  "page.html.twig" %}

{% block content %}
    <div class="content_main">
        <div class="wrapper">
            <div class="services">
                {{ page.content }}
            </div>
        </div>
        {{ page.doctor_list_on_service_type_page }}
    </div>
{% endblock %}
