{% extends  "page.html.twig" %}

{% block content %}
    <div class="wrapper" hidden>
        <header class="clinics_header">
            <h2>Наши клиники в</h2>
            <div class="clinics_city">
                <span class="js-city">Москве</span>

                <ul class="js-cities clinics_cities">
                    <li><a href="#city-1">Москве</a></li>
                    <li><a href="#city-2">Нижнем новгороде</a></li>
                    <li><a href="#city-3">Самаре</a></li>
                </ul>
            </div>
        </header>
    </div>


    <div class="content_main __min">
        <div class="clinics">
            <div class="js-map clinics_data active" id="city-1">
                <div class="wrapper">
                    <div class="clinics_contacts">
                        <div class="clinics_contacts-item">
                            <header class="clinics_header __small">
                                <h2>Наши клиники в</h2>
                                <div class="clinics_city">
                                    <span class="js-city">Москве</span>

                                    <ul class="js-cities clinics_cities">
                                        <li><a href="#city-1">Москве</a></li>
                                        <li><a href="#city-2">Нижнем новгороде</a></li>
                                        <li><a href="#city-3">Самаре</a></li>
                                    </ul>
                                </div>
                            </header>

                            <div class="clinics_city-text __small">Мы находимся у станций <br>метро Медведково и Бабушкинская</div>
                        </div>
                        <div class="clinics_contacts-item">
                            <div class="clinics_header __small">
                                <h2>График работы клиник</h2>
                            </div>

                            <div class="clinics_time">
                                <div class="clinics_time-item">
                                    <div class="clinics_day">Понедельник-пятница</div>
                                    <div class="clinics_hour">9:00 – 21:00</div>
                                </div>
                                <div class="clinics_time-item">
                                    <div class="clinics_day">Суббота-воскресенье</div>
                                    <div class="clinics_hour">9:00 – 21:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="clinics_contacts-item">
                            <div class="clinics_header __small">
                                <h2>Единый телефон</h2>
                            </div>

                            <div class="clinics_call">
                                <a href="tel:+74952152442" class="clinics_tel">+7 (495) 215-24-42</a>

                                <a href="" class="clinics_recall">Заказать звонок</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clinics_map-container __offset-top">
                    <div class="clinics_map __normal" id="map-1"></div>

                    <div class="clinics_content __base __offset-top">
                        <div class="wrapper clinics_wrapper">
                            <div class="clinics_items">
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-map clinics_data" id="city-2">
                <div class="wrapper">
                    <div class="clinics_contacts">
                        <div class="clinics_contacts-item">
                            <header class="clinics_header __small">
                                <h2>Наши клиники в</h2>
                                <div class="clinics_city">
                                    <span class="js-city">Москве</span>

                                    <ul class="js-cities clinics_cities">
                                        <li><a href="#city-1">Москве</a></li>
                                        <li><a href="#city-2">Нижнем новгороде</a></li>
                                        <li><a href="#city-3">Самаре</a></li>
                                    </ul>
                                </div>
                            </header>

                            <div class="clinics_city-text __small">Мы находимся у станций <br>метро Медведково и Бабушкинская</div>
                        </div>
                        <div class="clinics_contacts-item">
                            <div class="clinics_header __small">
                                <h2>График работы клиник</h2>
                            </div>

                            <div class="clinics_time">
                                <div class="clinics_time-item">
                                    <div class="clinics_day">Понедельник-пятница</div>
                                    <div class="clinics_hour">9:00 – 21:00</div>
                                </div>
                                <div class="clinics_time-item">
                                    <div class="clinics_day">Суббота-воскресенье</div>
                                    <div class="clinics_hour">9:00 – 21:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="clinics_contacts-item">
                            <div class="clinics_header __small">
                                <h2>Единый телефон</h2>
                            </div>

                            <div class="clinics_call">
                                <div class="clinics_tel">+7 (495) 215-24-42</div>

                                <a href="" class="clinics_recall">Заказать звонок</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clinics_map-container __offset-top">
                    <div class="clinics_map __normal" id="map-2"></div>

                    <div class="clinics_content __base __offset-top">
                        <div class="wrapper clinics_wrapper">
                            <div class="clinics_items">
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-map clinics_data" id="city-3">
                <div class="wrapper">
                    <div class="clinics_contacts">
                        <div class="clinics_contacts-item">
                            <header class="clinics_header __small">
                                <h2>Наши клиники в</h2>
                                <div class="clinics_city">
                                    <span class="js-city">Москве</span>

                                    <ul class="js-cities clinics_cities">
                                        <li><a href="#city-1">Москве</a></li>
                                        <li><a href="#city-2">Нижнем новгороде</a></li>
                                        <li><a href="#city-3">Самаре</a></li>
                                    </ul>
                                </div>
                            </header>

                            <div class="clinics_city-text __small">Мы находимся у станций <br>метро Медведково и Бабушкинская</div>
                        </div>
                        <div class="clinics_contacts-item">
                            <div class="clinics_header __small">
                                <h2>График работы клиник</h2>
                            </div>

                            <div class="clinics_time">
                                <div class="clinics_time-item">
                                    <div class="clinics_day">Понедельник-пятница</div>
                                    <div class="clinics_hour">9:00 – 21:00</div>
                                </div>
                                <div class="clinics_time-item">
                                    <div class="clinics_day">Суббота-воскресенье</div>
                                    <div class="clinics_hour">9:00 – 21:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="clinics_contacts-item">
                            <div class="clinics_header __small">
                                <h2>Единый телефон</h2>
                            </div>

                            <div class="clinics_call">
                                <div class="clinics_tel">+7 (495) 215-24-42</div>

                                <a href="" class="clinics_recall">Заказать звонок</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clinics_map-container __offset-top">
                    <div class="clinics_map __normal" id="map-3"></div>

                    <div class="clinics_content __base __offset-top">
                        <div class="wrapper clinics_wrapper">
                            <div class="clinics_items">
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinics_item">
                                    <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                    <div class="clinics_item-content">
                                        <div class="clinics_image">
                                            <img src="/themes/fromTilda/img/clinic.jpg" alt="">
                                        </div>

                                        <div class="clinics_text">
                                            <p>метро Медведково</p>

                                            <p>г. Москва, <br>ул. Советская, 30А</p>

                                            <a href="">подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}