{% extends  "page.html.twig" %}

{% block content %}
  <div class="content_main __min">
    <div class="wrapper">
      <div class="page">
        {{ page.content }}
        {{ page.doctor_list_on_stock_page }}
      </div>
    </div>
  </div>
{% endblock %}
