{% extends  "page.html.twig" %}

{% block content %}
    <div class="content_main __min-2">
        <div class="wrapper">
            <div class="search">
                {{ page.content }}
            </div>
        </div>
    </div>
{% endblock %}
