<div class="clinic">
    <div class="clinic_map">
        <div class="clinic_cart">
            {{ node.field_map_code.value|raw }}
        </div>

        <div class="clinic_info">
            <div class="wrapper">
                <div class="clinic_data">
                    <div class="clinic_data-block">
                        <h4>График работы клиник</h4>

                        <div class="clinic_time-block">
                            <div class="clinic_time-item">
                                <div class="clinic_day">Понедельник-пятница</div>
                                <div class="clinic_time">9:00 – 21:00</div>
                            </div>

                            <div class="clinic_time-item">
                                <div class="clinic_day">Суббота-воскресенье</div>
                                <div class="clinic_time">10:00-16:00</div>
                            </div>
                        </div>
                    </div>

                    <div class="clinic_data-block">
                        <h4>Единый телефон</h4>

                        <a href="tel:777" class="clinic_tel">+7 (495) 215-24-42</a>

                        <a href="" class="clinic_recall">Заказать звонок</a>
                    </div>

                    <a href="" class="button clinic_btn">записаться на прием</a>
                </div>
            </div>
        </div>
    </div>

    <div class="clinic_about">
        <div class="wrapper">
            <h2 class="clinic_heading">О клинике</h2>
            <div class="clinic_row">
                <div class="clinic_col">
                    <h2 class="clinic_heading-2">О клинике</h2>

                    <div class="clinic_text">
                        <p>Стоматологи  расположена прямо между двумя ключевыми станциями московского метрополитена — Дубровка и Автозаводская, по Велозаводской улице. Это один из самых удачных, с точки зрения своего расположения, центров сети «Юнидент». Находясь в центре столицы, клиника стоматологии позволяет своим посетителям существенно сократить время, затрачиваемое на поездку до учреждения. При этом добираться до центра одинаково удобно как на общественном транспорте, так и на личном авто. Подъезд непосредственно к стоматологической клинике на метро Автозаводская оборудован и со стороны Третьего, и со стороны Садового кольца. Где бы вы ни находились, вы всегда сможете доехать  буквально за несколько десятков минут.</p>
                    </div>

                    <div class="clinic_links">
                        <a href="">Лицензии</a>
                        <a href="">График работы</a>
                    </div>
                </div>

                <div class="clinic_col">
                    <div class="clinic_slider">
                        <div>
                            <div class="clinic_slider-item">
                                <img src="img/slider2.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div class="clinic_slider-item">
                                <img src="img/slider2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>