<!DOCTYPE html>
<!-- saved from url=(0039)/main.html -->
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
	
	<title>Кариесу нет</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./main_files/main.css">
<style type="text/css">mark.im-caret {
    -webkit-animation: 1s blink step-end infinite !important;
            animation: 1s blink step-end infinite !important;
}

mark.im-caret-select {
    background-color: rgba(0, 0, 0, .25);
}

@-webkit-keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

@keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

span.im-static {
    color: grey;
}

div.im-colormask {
    display: inline-block;
    border-style: inset;
    border-width: 2px;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

div.im-colormask > input {
    position: absolute !important;
    display: inline-block;
    background-color: transparent;
    color: transparent;
    caret-color: transparent;
    -webkit-appearance: caret;
       -moz-appearance: caret;
            appearance: caret;
    border-style: none;
    left: 0; /*calculated*/
}

div.im-colormask > input:focus {
    outline: none;
}

div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > input::selection{
    background: none;
}
div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > div {
    color: black;
    display: inline-block;
    width: 100px; /*calculated*/
}</style><script type="text/javascript" charset="UTF-8" src="./main_files/common.js"></script><script type="text/javascript" charset="UTF-8" src="./main_files/util.js"></script><script type="text/javascript" charset="UTF-8" src="./main_files/map.js"></script><script type="text/javascript" charset="UTF-8" src="./main_files/marker.js"></script><script type="text/javascript" charset="UTF-8" src="./main_files/infowindow.js"></script><style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }</style><script type="text/javascript" charset="UTF-8" src="./main_files/onion.js"></script></head>
<body data-feedly-mini="yes">
	<header class="header">
		<div class="wrapper header_wrapper">
			<div class="header_item">
				<a href="/main.html" class="header_logo">
					<img width="219" height="69" src="./main_files/logo.svg" alt="">
				</a>
			</div>
			
			<div class="header_item">
				<div class="header_time" id="header-time">
					<p>
						<span>Будние дни:</span> 
						<i>пн-пт:</i>
						с 9:00 до 21:00
					</p>
					<p>
						<span>Выходные:</span> 
						<i>сб-вс:</i>
						с 10:00 до 18:00
					</p>
				</div>
			</div>
			
			<div class="header_item">
				<div class="header_phone">
					<a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a>
					<div class="header_phone-text">Единая справочная в Москве</div>
				</div>
			</div>
			
			<div class="header_item">
				<div class="header_buttons">
					<a href="/main.html#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a>
					<a href="/main.html#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a>
				</div>
			</div>
			
			<div class="header_item __mobile">
				<div class="header_mobile">
					<a href="tel:+74952152442" class="header_mobile-tel"></a>
					<button class="header_mobile-nav">
						<i></i><i></i><i></i>
					</button>
				</div>
			</div>
		</div>
	</header>
	
	<nav class="nav">
		<div class="wrapper nav_wrapper">
			<div class="nav_content">
				<ul class="nav_ul" id="nav-1">
					<li class="active"><a href="/main.html"><span>Лечение</span></a></li>
					<li><a href="/main.html"><span>Имплантология</span></a></li>
					<li><a href="/main.html"><span>Протезирование</span></a></li>
					<li><a href="/main.html"><span>Хирургия</span></a></li>
					<li><a href="/main.html"><span>Ортондонтия</span></a></li>
					<li><a href="/main.html"><span>Гигиена</span></a></li>
					<li><a href="/main.html"><span>Детская стоматология</span></a></li>
				</ul>
				
				<ul class="nav_ul __type-2" id="nav-2">
					<li><a href="/main.html"><span>о клинике</span></a></li>
					<li><a href="/main.html"><span>цены</span></a></li>
					<li><a href="/main.html"><span>вопрос-ответ</span></a></li>
					<li><a href="/main.html"><span>контакты</span></a></li>
				</ul>
				
				<form class="nav_search" action="/main.html" id="nav-search">
					<div class="nav_search-inner">
						<input class="nav_input" type="text" placeholder="Поиск по сайту">
						<button class="nav_btn"></button>
					</div>
				</form>
			</div>
		</div>
	</nav>
	
	<div class="menu">
		<div class="menu_wrap">
			<div class="menu_top">
				<div class="wrapper">
					<div class="menu_nav-1" data-menu-id="#nav-1"><ul class="nav_ul" id="nav-1">
					<li class="active"><a href="/main.html"><span>Лечение</span></a></li>
					<li><a href="/main.html"><span>Имплантология</span></a></li>
					<li><a href="/main.html"><span>Протезирование</span></a></li>
					<li><a href="/main.html"><span>Хирургия</span></a></li>
					<li><a href="/main.html"><span>Ортондонтия</span></a></li>
					<li><a href="/main.html"><span>Гигиена</span></a></li>
					<li><a href="/main.html"><span>Детская стоматология</span></a></li>
				</ul></div>
					<div class="menu_nav-2" data-menu-id="#nav-2"><ul class="nav_ul __type-2" id="nav-2">
					<li><a href="/main.html"><span>о клинике</span></a></li>
					<li><a href="/main.html"><span>цены</span></a></li>
					<li><a href="/main.html"><span>вопрос-ответ</span></a></li>
					<li><a href="/main.html"><span>контакты</span></a></li>
				</ul></div>
					<div class="menu_search" data-menu-id="#nav-search"><form class="nav_search" action="/main.html" id="nav-search">
					<div class="nav_search-inner">
						<input class="nav_input" type="text" placeholder="Поиск по сайту">
						<button class="nav_btn"></button>
					</div>
				</form></div>
				</div>
			</div>
			
			<div class="menu_bottom">
				<div class="wrapper">
					<div class="menu_info">
						<div class="menu_phone">
							<div class="menu_tel" data-menu-id="#header-tel"><a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a></div>
							<div class="menu_recall-btn" data-menu-id="#header-recall-btn"><a href="/main.html#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a></div>
						</div>
						
						<div class="menu_time" data-menu-id="#header-time"><div class="header_time" id="header-time">
					<p>
						<span>Будние дни:</span> 
						<i>пн-пт:</i>
						с 9:00 до 21:00
					</p>
					<p>
						<span>Выходные:</span> 
						<i>сб-вс:</i>
						с 10:00 до 18:00
					</p>
				</div></div>
					</div>
					
					<div class="menu_order-btn" data-menu-id="#header-order-btn"><a href="/main.html#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a></div>
				</div>
			</div>
			
			<button class="menu_close"></button>
		</div>
	</div>
	
	<div class="main">
		<div class="main_slider slick-initialized slick-slider">
			<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 9457px; transform: translate3d(-4053px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 1351px;" tabindex="-1">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="-1">подробнее</a>
						</div>
					</div>
				</div>
			</div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1351px;" tabindex="-1">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="-1">подробнее</a>
						</div>
					</div>
				</div>
			</div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1351px;" tabindex="-1">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="-1">подробнее</a>
						</div>
					</div>
				</div>
			</div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 1351px;" tabindex="0">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="0">подробнее</a>
						</div>
					</div>
				</div>
			</div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 1351px;" tabindex="-1">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="-1">подробнее</a>
						</div>
					</div>
				</div>
			</div><div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 1351px;" tabindex="-1">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="-1">подробнее</a>
						</div>
					</div>
				</div>
			</div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 1351px;" tabindex="-1">
				<div class="main_item" style="background-image: url(img/slider.jpg)">
					<div class="wrapper main_wrapper">
						<div class="main_title">
							Коронки E-max
							<span>со скидкой 30 %</span>
						</div>
						
						<div class="main_text">
							<p>Изготовление коронок по технологии CAD/CAM</p>
							<p>Акция действует с 8 февраля 2018</p>
						</div>
						
						<div class="main_buttons">
							<a href="/main.html" class="button main_button" tabindex="-1">подробнее</a>
						</div>
					</div>
				</div>
			</div></div></div>
			
			
		</div>
		
		<div class="wrapper main_arrows"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button><button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button></div>
	</div>
	
	<section class="about-num">
		<div class="wrapper">
			<h2>О нас в цифрах</h2>
			
			<div class="about-num_items">
				<div class="about-num_item">
					<div class="about-num_info">
						<div class="about-num_cnt">3</div>
						<p class="about-num_text">клиники в <br>Москве</p>
					</div>
				</div>
				<div class="about-num_item">
					<div class="about-num_info">
						<div class="about-num_cnt">20</div>
						<p class="about-num_text">лет успешной <br>работы</p>
					</div>
				</div>
				<div class="about-num_item">
					<div class="about-num_info">
						<div class="about-num_cnt">10000</div>
						<p class="about-num_text">пациентов <br>в год</p>
					</div>
				</div>
				<div class="about-num_item">
					<div class="about-num_info">
						<div class="about-num_cnt">170</div>
						<p class="about-num_text">отзывов <br>на сайте</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="service">
		<div class="wrapper">
			<h2>Наши услуги</h2>
			
			<div class="service_content">
				<div class="service_info">
					<div>
						<strong>Доказано, что здоровые зубы одно <br>из главных условий долголетия. <br>И что несвоевременное обращение <br>к стоматологу зачастую приводит <br>к возникновению других <br>заболеваний.</strong>
					</div>
					
					<p>При этом их спектр довольно обширен <br>– от нарушений работы желудка и <br>печени до возникновения различных <br>опухолей. Поэтому если появляются <br>даже малейшие проблемы, связанные <br>с зубами, необходимо немедленно <br>обращаться к специалистам.</p>
					
					<a href="/main.html#form-order" class="button service_btn popup">записаться на прием</a>
				</div>
				
				<div class="service_items">
					<a href="/main.html" class="service_item __mobile-visible">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/1.svg" width="50" height="53"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Лечение</header>
								<p>Кариес, пульпит</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item __mobile-visible">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/2.svg" width="46" height="55"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Имплантология</header>
								<p>Протезы на имплантах</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item __mobile-visible">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/3.svg" width="50" height="56"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Протезирование</header>
								<p>Металлокерамика, съемное</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item __mobile-visible">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/4.svg" width="45" height="65"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Хирургия</header>
								<p>Удаление, оперирование</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/5.svg" width="50" height="55"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Ортодонтия</header>
								<p>Исправление прикуса</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/6.svg" width="49" height="58"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Гигиена</header>
								<p>Отбеливание, чистка</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/7.svg" width="59" height="55"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Детская стоматология</header>
								<p>Для детей любого возраста</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/8.svg" width="57" height="54"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Диагностика</header>
								<p>Бесплатная консультация</p>
							</div>
						</div>
					</a>
					<a href="/main.html" class="service_item">
						<div class="service_data">
							<div class="service_image">
								<object data="./main_files/9.svg" width="48" height="52"></object>
							</div>
							
							<div class="service_text">
								<header class="service_heading">Лечение в рассрочку</header>
								<p>Рассрочка без процентов</p>
							</div>
						</div>
					</a>
				</div>
				
				<a href="/main.html" class="button-light service_show-btn">смотреть весь список услуг</a>
			</div>
		</div>
	</div>
	
	<div class="clinics">
		<div class="wrapper">
			<header class="clinics_header">
				<h2>Наши клиники в</h2>
				<div class="clinics_city">
					<span class="js-city">Москве</span>
					
					<ul class="js-cities clinics_cities">
						<li><a href="/main.html#city-1">Москве</a></li>
						<li><a href="/main.html#city-2">Нижнем новгороде</a></li>
						<li><a href="/main.html#city-3">Самаре</a></li>
					</ul>
				</div>
			</header>
		</div>
		
		<div class="js-map clinics_data active" id="city-1">
			<div class="wrapper">
				<div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
			</div>
			
			<div class="clinics_map-container">
				<div class="clinics_map" id="map-1" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -94, -213);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -94, -213);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 256px;"></div></div></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: -25px; top: -53px; z-index: 0;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: 55px; top: -85px; z-index: -32;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -94, -213);"><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(1)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(2)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(3)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(4)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(5)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(6)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(7)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(8)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(9)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(10)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(11)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(12)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(13)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(14)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(15)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(16)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(17)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(18)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(19)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(20)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -25px; top: -53px; z-index: 0;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: 55px; top: -85px; z-index: -32;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="./main_files/saved_resource.html"></iframe></div></div></div>
				
				<div class="clinics_content">
					<div class="wrapper clinics_wrapper">
						<div class="clinics_items">
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="js-map clinics_data" id="city-2">
			<div class="wrapper">
				<div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
			</div>
			
			<div class="clinics_map-container">
				<div class="clinics_map" id="map-2" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -42, -146);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -42, -146);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: -256px;"></div></div></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: -25px; top: -53px; z-index: 0;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: -73621px; top: 11246px; z-index: 11299;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -42, -146);"><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(21)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(22)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: -768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><div draggable="false" style="font-family: Roboto, Arial, sans-serif; font-size: x-small; text-align: center; padding-top: 6em; user-select: none;">Изображений нет.</div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(23)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(24)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(25)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(26)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(27)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(28)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(29)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -25px; top: -53px; z-index: 0;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -73621px; top: 11246px; z-index: 11299;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="./main_files/saved_resource(1).html"></iframe></div></div></div>
				
				<div class="clinics_content">
					<div class="wrapper clinics_wrapper">
						<div class="clinics_items">
							<div class="clinics_item">
								<h4 class="clinics_heading">Нижний новгород</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="js-map clinics_data" id="city-3">
			<div class="wrapper">
				<div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
			</div>
			
			<div class="clinics_map-container">
				<div class="clinics_map" id="map-3" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -94, -213);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -768px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -94, -213);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 256px;"></div></div></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: -25px; top: -53px; z-index: 0;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div><div style="width: 50px; height: 53px; overflow: hidden; position: absolute; left: 55px; top: -85px; z-index: -32;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 986; transform: matrix(1, 0, 0, 1, -94, -213);"><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(1)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(2)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(3)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(4)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(5)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(6)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(7)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(8)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(9)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(10)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(11)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(12)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(13)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(14)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(15)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -768px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(16)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(17)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(18)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(19)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 768px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="./main_files/vt(20)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -25px; top: -53px; z-index: 0;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div><div title="" style="width: 50px; height: 53px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: 55px; top: -85px; z-index: -32;"><img alt="" src="./main_files/map.svg" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 50px; height: 53px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="./main_files/saved_resource(2).html"></iframe></div></div></div>
				
				<div class="clinics_content">
					<div class="wrapper clinics_wrapper">
						<div class="clinics_items">
							<div class="clinics_item">
								<h4 class="clinics_heading">Самара</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
							<div class="clinics_item">
								<h4 class="clinics_heading">Взрослое и детское отделение</h4>
								
								<div class="clinics_item-content">
									<div class="clinics_image">
										<img src="./main_files/clinic.jpg" alt="">
									</div>
									
									<div class="clinics_text">
										<p>метро Медведково</p>
										
										<p>г. Москва, <br>ул. Советская, 30А</p>
										
										<a href="/main.html">подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="sale">
		<div class="wrapper">
			<h2>Скидки для клиентов</h2>
			
			<div class="sale_items">
				<div class="sale_item">
					<div class="sale_cart">
						<a href="/main.html" class="sale_cart-content">
							<div class="sale_num">№ 000045</div>
							
							<div class="sale_logo">
								<img src="./main_files/logo.svg" alt="">
							</div>
							
							<div class="sale_cart-text">
								<p>Скидка на лечение - <span>10%</span></p>
								<p>Скидка на протезирование - <span>5%</span></p>
							</div>
						</a>
						
						<div class="sale_cart-bottom">
							<p>Карта действительна в любой клинике сети. </p>
							<p>Подробности на сайте <a href="/main.html">www.kariesy.net</a></p>
						</div>
					</div>
				</div>
				
				<a href="/main.html" class="sale_item">
					<div class="sale_base" style="background-image: url(img/sale_kid.jpg)">
						<p class="sale_main-txt">Скидка на детскую <br>стоматологию</p>
						<div class="sale_cnt">- 25%</div>
					</div>
				</a>
				
				<a href="/main.html" class="sale_item">
					<div class="sale_base" style="background-image: url(img/sale_birth.jpg)">
						<p class="sale_main-txt">Дарим скидку <br>в день рождения</p>
						<div class="sale_cnt">- 30%</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<footer class="footer">
		<div class="footer_top __1">
			<div class="wrapper">
				<div class="footer_top-content">
					<div class="footer_top-left">
						<div class="footer_top-heading">Мы работаем для вас без выходных!</div>
						<p class="footer_top-descr">Записаться можно по телефону:</p>
					</div>
					<div class="footer_top-right">
						<a href="tel:777" class="footer_top-phone">+7 (495) 215-24-42</a>
						<a href="/main.html#form-recall" class="button footer_top-btn popup">заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer_middle">
			<div class="wrapper">
				<div class="footer_row __only-flex">
					<div class="footer_col">
						<div class="footer_heading">Услуги</div>
						
						<div class="footer_row">
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/main.html">Лечение</a></li>
									<li><a href="/main.html">Имплантология</a></li>
									<li><a href="/main.html">Протезирование</a></li>
								</ul>
							</div>
							
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/main.html">Хирургия</a></li>
									<li><a href="/main.html">Ортодонтия</a></li>
									<li><a href="/main.html">Гигиена</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer_col">
						<div class="footer_heading">Навигация</div>
						
						<div class="footer_row">
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/main.html">Цены</a></li>
									<li><a href="/main.html">Клиники</a></li>
									<li><a href="/main.html">Доктора</a></li>
									<li><a href="/main.html">Пациентам</a></li>
								</ul>
							</div>
							
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/main.html">Отзывы</a></li>
									<li><a href="/main.html">Вакансии</a></li>
									<li><a href="/main.html">Карта сайта</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer_bottom">
			<div class="wrapper">
				<div class="footer_bottom-row">
					<a href="/main.html" class="footer_logo">
						<img src="./main_files/logo2.svg" width="219" height="69" alt="">
					</a>
					
					<div class="footer_copy">© 1998-2017 «Кариесу.нет» ООО «КХЗ»</div>
					
					<div class="footer_socials">
						<div class="footer_socials-text">Мы в социальных сетях:</div>
						
						<div class="footer_socials-items">
							<a href="/main.html"><img src="./main_files/vk.svg" alt=""></a>
							<a href="/main.html"><img src="./main_files/facebook.svg" alt=""></a>
							<a href="/main.html"><img src="./main_files/insta.svg" alt=""></a>
							<a href="/main.html"><img src="./main_files/youtube.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	<div class="forms mfp-hide" id="form-recall">
		<form action="/main.html" class="form">
			<h4 class="form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</h4>
			
			<div class="form_item">
				<label class="form_label">Ваше имя</label>
				
				<div class="form_data">
					<input type="text" class="form_input">
				</div>
			</div>
			
			<div class="form_item">
				<label class="form_label">Номер телефона</label>
				
				<div class="form_data">
					<input type="tel" class="form_input">
				</div>
			</div>
			
			<div class="form_button">
				<button class="button" type="submit">заказать звонок</button>
			</div>
		</form>
			
		<button type="button" class="forms_close popup-close"></button>
	</div>
	
	<div class="forms mfp-hide" id="form-reviews">
		<form action="/main.html" class="reviews_form forms_reviews">
			<div class="reviews_form-title">Оставить отзыв</div>

			<div class="reviews_form-item">
				<label class="reviews_label">Доктор</label>
				
				<div class="reviews_form-data">
					<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Доктор 1">Доктор 1</option>
						<option value="Доктор 2">Доктор 2</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-swar-container"><span class="select2-selection__rendered" id="select2-swar-container" title="Доктор 1">Доктор 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
				
				<div class="reviews_star">
					<div class="reviews_star-text __type-2">Оцените доктора:</div>
					
					<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
						<option></option>
						<option value="1"></option>
						<option value="2"></option>
						<option value="3"></option>
						<option value="4"></option>
						<option value="5"></option>
					</select><div class="br-widget"><a href="/main.html#" data-rating-value="1" data-rating-text=""></a><a href="/main.html#" data-rating-value="2" data-rating-text=""></a><a href="/main.html#" data-rating-value="3" data-rating-text=""></a><a href="/main.html#" data-rating-value="4" data-rating-text=""></a><a href="/main.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
				</div>
			</div>
			
			<div class="reviews_form-item">
				<label class="reviews_label">Клиника</label>
				
				<div class="reviews_form-data">
					<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Клиника 1">Клиника 1</option>
						<option value="Клиника 2">Клиника 2</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ef9t-container"><span class="select2-selection__rendered" id="select2-ef9t-container" title="Клиника 1">Клиника 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
				
				<div class="reviews_star">
					<div class="reviews_star-text __type-2">Оцените клинику:</div>
					
					<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
						<option></option>
						<option value="1"></option>
						<option value="2"></option>
						<option value="3"></option>
						<option value="4"></option>
						<option value="5"></option>
					</select><div class="br-widget"><a href="/main.html#" data-rating-value="1" data-rating-text=""></a><a href="/main.html#" data-rating-value="2" data-rating-text=""></a><a href="/main.html#" data-rating-value="3" data-rating-text=""></a><a href="/main.html#" data-rating-value="4" data-rating-text=""></a><a href="/main.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
				</div>
			</div>
			
			<div class="reviews_form-item __offset-min">
				<label class="reviews_label">Ваш отзыв</label>
				
				<div class="reviews_form-data">
					<textarea required="" class="reviews_area"></textarea>
				</div>
			</div>
			
			<div class="reviews_form-item __offset-min-2">
				<div class="reviews_row">
					<div class="reviews_col">
						<input type="file" multiple="" class="jfilestyle" data-input="false" data-text="Приложить фото" id="jfilestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"><div class="jfilestyle   jfilestyle-theme-default"><div name="filedrag" style="position: absolute; width: 100%; height: 0px; z-index: -1;"></div><span class="focus-jfilestyle" tabindex="0"><label for="jfilestyle-0"><span>Приложить фото</span></label></span></div>
					</div>
					<div class="reviews_col">
						<button type="submit" class="button">Оставить отзыв</button>
					</div>
				</div>
			</div>
			
			<div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
		</form>
		
		<button type="button" class="forms_close popup-close"></button>
	</div>
	
	<div class="forms __order mfp-hide" id="form-order">
		<form class="form">
			<h3 class="form_title">Запись на прием</h3>
			
			<div class="form_item">
				<label class="form_label">Услуга</label>
				
				<div class="form_data">
					<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-5gx8-container"><span class="select2-selection__rendered" id="select2-5gx8-container" title="Ортопедия">Ортопедия</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>
			
			<div class="form_item">
				<label class="form_label">Врач</label>
				
				<div class="form_data">
					<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option>Рыбин Валерий Анатольевич</option>
						<option>Рыбин Валерий Анатольевич</option>
						<option>Рыбин Валерий Анатольевич</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-976r-container"><span class="select2-selection__rendered" id="select2-976r-container" title="Рыбин Валерий Анатольевич">Рыбин Валерий Анатольевич</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>
			
			<div class="form_item">
				<label class="form_label">Дата и время приема</label>
				
				<div class="form_data">
					<div class="form_row">
						<div class="form_col">
							<div class="form_input-block">
								<input class="form_input date" type="text">
							</div>
						</div>
						<div class="form_col">
							<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
								<option>10:30</option>
								<option>10:40</option>
								<option>10:50</option>
							</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-1h0r-container"><span class="select2-selection__rendered" id="select2-1h0r-container" title="10:30">10:30</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Ваш контактный телефон</label>
				
				<div class="form_data">
					<input type="tel" class="form_input">
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Ваше имя</label>
				
				<div class="form_data">
					<input type="text" class="form_input">
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Комментарий (необязательно)</label>
				
				<div class="form_data">
					<textarea class="form_area"></textarea>
				</div>
			</div>
			
			<div class="form_button">
				<button type="submit" class="button">отправить</button>
			</div>
		</form>
		
		<button type="button" class="forms_close popup-close"></button>
	</div>
	
	<div class="forms __auth mfp-hide" id="form-auth">
		<form class="form">
			<div class="form_auth-title">Авторизоваться с помощью социальных сетей</div>
			
			<div class="form_socials">
				<a href="/main.html"><img src="./main_files/vk.svg" alt=""></a>
				<a href="/main.html"><img src="./main_files/facebook.svg" alt=""></a>
				<a href="/main.html"><img src="./main_files/insta.svg" alt=""></a>
				<a href="/main.html"><img src="./main_files/youtube.svg" alt=""></a>
			</div>
		</form>
		
		<button type="button" class="forms_close popup-close"></button>
	</div>
	
	<div class="forms __ok mfp-hide" id="form-call-ok">
		<div class="form">
			<div class="form_image">
				<img src="./main_files/ok.svg" width="59" alt="">
			</div>
			<p class="form_ok">Ваш вызов принят!</p>
		</div>
		
		<button type="button" class="forms_close popup-close"></button>
	</div>
	
	<div class="forms __normal mfp-hide" id="form-normal">
		<div class="form">
			<div class="form_normal">Ваша заявка принята!</div>
			<p class="form_normal-text">В ближайшее время с Вами свяжутся наши специалисты для подтверждения запроса</p>
		</div>
		
		<button type="button" class="forms_close popup-close"></button>
	</div>
	
	<script src="./main_files/jquery.min.js"></script>
	<script src="./main_files/slick.min.js"></script>
	<script src="./main_files/select2.min.js"></script>
	<script src="./main_files/jquery.magnific-popup.min.js"></script>
	<script src="./main_files/jquery.barrating.min.js"></script>
	<script src="./main_files/bootstrap-datepicker.min.js"></script>
	<script src="./main_files/bootstrap-datepicker.ru.min.js"></script>
	<script src="./main_files/jquery-filestyle.min.js"></script>
	<script src="./main_files/jquery.maskedinput.min.js"></script>
	<script src="./main_files/lib.js"></script>
	<script src="./main_files/app.js"></script>
	<script src="./main_files/js" async="" defer=""></script>

<div id="feedly-mini" title="feedly Mini tookit"></div><div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"><span style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span></div><div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"><span style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span></div><div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"><span style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span></div></body></html>