<!DOCTYPE html>
<!-- saved from url=(0041)/answer.html -->
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Кариесу нет</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./answer_files/main.css">
<style type="text/css">mark.im-caret {
    -webkit-animation: 1s blink step-end infinite !important;
            animation: 1s blink step-end infinite !important;
}

mark.im-caret-select {
    background-color: rgba(0, 0, 0, .25);
}

@-webkit-keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

@keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

span.im-static {
    color: grey;
}

div.im-colormask {
    display: inline-block;
    border-style: inset;
    border-width: 2px;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

div.im-colormask > input {
    position: absolute !important;
    display: inline-block;
    background-color: transparent;
    color: transparent;
    caret-color: transparent;
    -webkit-appearance: caret;
       -moz-appearance: caret;
            appearance: caret;
    border-style: none;
    left: 0; /*calculated*/
}

div.im-colormask > input:focus {
    outline: none;
}

div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > input::selection{
    background: none;
}
div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > div {
    color: black;
    display: inline-block;
    width: 100px; /*calculated*/
}</style><script type="text/javascript" charset="UTF-8" src="./answer_files/common.js"></script><script type="text/javascript" charset="UTF-8" src="./answer_files/util.js"></script></head>
<body data-feedly-mini="yes">
	<header class="header">
		<div class="wrapper header_wrapper">
			<div class="header_item">
				<a href="/answer.html" class="header_logo">
					<img width="219" height="69" src="./answer_files/logo.svg" alt="">
				</a>
			</div>

			<div class="header_item">
				<div class="header_time" id="header-time">
					<p>
						<span>Будние дни:</span>
						<i>пн-пт:</i>
						с 9:00 до 21:00
					</p>
					<p>
						<span>Выходные:</span>
						<i>сб-вс:</i>
						с 10:00 до 18:00
					</p>
				</div>
			</div>

			<div class="header_item">
				<div class="header_phone">
					<a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a>
					<div class="header_phone-text">Единая справочная в Москве</div>
				</div>
			</div>

			<div class="header_item">
				<div class="header_buttons">
					<a href="/answer.html#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a>
					<a href="/answer.html#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a>
				</div>
			</div>

			<div class="header_item __mobile">
				<div class="header_mobile">
					<a href="tel:+74952152442" class="header_mobile-tel"></a>
					<button class="header_mobile-nav">
						<i></i><i></i><i></i>
					</button>
				</div>
			</div>
		</div>
	</header>

	<nav class="nav">
		<div class="wrapper nav_wrapper">
			<div class="nav_content">
				<ul class="nav_ul" id="nav-1">
					<li class="active"><a href="/answer.html"><span>Лечение</span></a></li>
					<li><a href="/answer.html"><span>Имплантология</span></a></li>
					<li><a href="/answer.html"><span>Протезирование</span></a></li>
					<li><a href="/answer.html"><span>Хирургия</span></a></li>
					<li><a href="/answer.html"><span>Ортондонтия</span></a></li>
					<li><a href="/answer.html"><span>Гигиена</span></a></li>
					<li><a href="/answer.html"><span>Детская стоматология</span></a></li>
				</ul>

				<ul class="nav_ul __type-2" id="nav-2">
					<li><a href="/answer.html"><span>о клинике</span></a></li>
					<li><a href="/answer.html"><span>цены</span></a></li>
					<li><a href="/answer.html"><span>вопрос-ответ</span></a></li>
					<li><a href="/answer.html"><span>контакты</span></a></li>
				</ul>

				<form class="nav_search" action="/answer.html" id="nav-search">
					<div class="nav_search-inner">
						<input class="nav_input" type="text" placeholder="Поиск по сайту">
						<button class="nav_btn"></button>
					</div>
				</form>
			</div>
		</div>
	</nav>

	<div class="menu">
		<div class="menu_wrap">
			<div class="menu_top">
				<div class="wrapper">
					<div class="menu_nav-1" data-menu-id="#nav-1"><ul class="nav_ul" id="nav-1">
					<li class="active"><a href="/answer.html"><span>Лечение</span></a></li>
					<li><a href="/answer.html"><span>Имплантология</span></a></li>
					<li><a href="/answer.html"><span>Протезирование</span></a></li>
					<li><a href="/answer.html"><span>Хирургия</span></a></li>
					<li><a href="/answer.html"><span>Ортондонтия</span></a></li>
					<li><a href="/answer.html"><span>Гигиена</span></a></li>
					<li><a href="/answer.html"><span>Детская стоматология</span></a></li>
				</ul></div>
					<div class="menu_nav-2" data-menu-id="#nav-2"><ul class="nav_ul __type-2" id="nav-2">
					<li><a href="/answer.html"><span>о клинике</span></a></li>
					<li><a href="/answer.html"><span>цены</span></a></li>
					<li><a href="/answer.html"><span>вопрос-ответ</span></a></li>
					<li><a href="/answer.html"><span>контакты</span></a></li>
				</ul></div>
					<div class="menu_search" data-menu-id="#nav-search"><form class="nav_search" action="/answer.html" id="nav-search">
					<div class="nav_search-inner">
						<input class="nav_input" type="text" placeholder="Поиск по сайту">
						<button class="nav_btn"></button>
					</div>
				</form></div>
				</div>
			</div>

			<div class="menu_bottom">
				<div class="wrapper">
					<div class="menu_info">
						<div class="menu_phone">
							<div class="menu_tel" data-menu-id="#header-tel"><a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a></div>
							<div class="menu_recall-btn" data-menu-id="#header-recall-btn"><a href="/answer.html#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a></div>
						</div>

						<div class="menu_time" data-menu-id="#header-time"><div class="header_time" id="header-time">
					<p>
						<span>Будние дни:</span>
						<i>пн-пт:</i>
						с 9:00 до 21:00
					</p>
					<p>
						<span>Выходные:</span>
						<i>сб-вс:</i>
						с 10:00 до 18:00
					</p>
				</div></div>
					</div>

					<div class="menu_order-btn" data-menu-id="#header-order-btn"><a href="/answer.html#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a></div>
				</div>
			</div>

			<button class="menu_close"></button>
		</div>
	</div>

	<div class="content">
		<div class="top __1">
			<div class="wrapper">
				<nav class="bread">
					<a href="/answer.html">Главная</a>
					<a href="/answer.html">Вопрос-ответ</a>
					<span>Какая гарантия на вылеченный зуб</span>
				</nav>

				<h1>Какая гарантия на вылеченный зуб</h1>
			</div>
		</div>

		<div class="content_main">
			<div class="wrapper">
				<div class="answer">
					<div class="answer_main">
						<div class="answer_block">
							<div class="answer_human">
								<div class="answer_image">
									<img src="./answer_files/human.jpg" alt="">
								</div>

								<div class="answer_human-info">
									<div class="answer_name">Алексей В.</div>
									<div class="answer_info">12.04.2017</div>
								</div>
							</div>

							<div class="answer_data">
								<p>Какие бывают способы восстановления контактных полостей зубов?</p>
							</div>
						</div>

						<div class="answer_block __offset-left">
							<div class="answer_human">
								<div class="answer_image">
									<img src="./answer_files/human.jpg" alt="">
								</div>

								<div class="answer_human-info">
									<div class="answer_name">Рыбин Алексей Владимирович</div>
									<div class="answer_info">Хирург, имплантолог</div>
								</div>
							</div>

							<div class="answer_data">
								<p>Если раньше при лечении кариеса зубов и его осложнений достаточно было лишь заместить дефект твердых тканей при помощи пломбировочного материала (силикофосфатные, силикатные цементы, амальгамы), то в настоящее время задачи, стоящие перед врачом, усложнились. Так, например, при лечении уже недостаточно произвести лишь замещение дефекта и восстановить анатомическую форму зуба. Необходимо также предупредить развитие осложнений (рецидивного кариеса и т. д.), восстановить, а иногда и улучшить эстетические параметры зуба, восстановить функциональную ценность зуба и его биомеханические характеристики.</p>

								<h4>Особенности реставрации жевательных зубов</h4>

								<p>При проведении эстетической реставрации боковых зубов наиболее важной задачей является восстановление их анатомической формы. Это связано с тем, что зубные ткани и ткани, окружающие зуб, составляют очень сложную биомеханическую структуру, обеспечивающую восприятие, распределение и поглощение циклической жевательной нагрузки. Зуб — это подвижная, динамическая конструктивная система, которая деформируется при возникновении нагрузки и полностью возвращается в исходное состояние после снятия нагрузки. Форма деформации коронки зуба — уменьшение ее по высоте и увеличение в диаметре. Считается, что именно посредством расширения коронки жевательная нагрузка распределяется в зубном ряду на соседние зубы. Дефекты зубных тканей нарушают целостность биомеханической структуры, прерывая пути поглощения жевательной нагрузки, и являются концентраторами напряжений. В последующем в результате циклически повторяющихся нагрузок возникает локальная усталость зубных тканей и в местах избыточного напряжения формируются микротрещины, которые, сливаясь между собой, образуют переломы структур зуба. Обычно пациенты с переломом стенки зуба или сколом реставрации говорят о том, что «поломка» случилась в результате незначительной жевательной нагрузки. Это действительно так, потому что усталость зубных тканей и реставрационного материала формировалась в участке избыточного напряжения в течение длительного периода, а незначительная жевательная нагрузка, спровоцировавшая сам перелом или скол, была только «последней каплей» (Радлинский С. В., 2006). Поэтому неправильно выполненная с анатомической точки зрения реставрация может привести к развитию разного рода осложнений (сколы реставрации, откол коронки зуба и т. д.).</p>

								<p>
									<img src="./answer_files/answer-img.jpg" alt="">
								</p>

								<h4>Результат</h4>

								<p>В результате пломбирования методикой инкрементации усадка композита на контактной поверхности происходит вне зуба. Далее можно удалить фиксирующее кольцо матричной системы для лучшего доступа к моделированию окклюзионной поверхности зуба. При реставрации используются в основном опаковые оттенки, и лишь на завершающем этапе — эмалевые цвета.</p>
							</div>
						</div>
					</div>

					<aside class="answer_aside">
						<form action="/answer.html" class="answer_form">
							<div class="answer_form-title">Задайте вопрос <br>нашим докторам</div>

							<div class="answer_item">
								<label class="answer_label">Тема вопроса</label>

								<div class="answer_form-data">
									<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
										<option value=""></option>
										<option value="Тема 1">Тема 1</option>
									</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-t9ue-container"><span class="select2-selection__rendered" id="select2-t9ue-container" title=""></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
								</div>
							</div>

							<div class="answer_item">
								<label class="answer_label">Ваш вопрос</label>

								<div class="answer_form-data">
									<textarea required="" class="answer_area"></textarea>
								</div>
							</div>

							<div class="answer_button">
								<button type="submit" class="button answer_btn">отправить вопрос</button>
							</div>
						</form>
					</aside>
				</div>

				<div class="recommend">
					<h2>Рекомедуем услуги</h2>

					<div class="recommend_items">
						<div class="recommend_item">
							<header class="recommend_header">
								<div class="recommend_left">
									<div class="recommend_image">
										<img src="./answer_files/plomb.svg" width="58" alt="">
									</div>

									<div class="recommend_base-text">
										<h4>Установка пломбы</h4>
										<p>Индивидуально</p>
									</div>
								</div>

								<div class="recommend_right">
									<a href="/answer.html" class="recommend_link">подробнее</a>
								</div>
							</header>

							<div class="recommend_text">
								<p><strong>Установка пломбы</strong> - это завершающий этап в лечении кариеса, пульпита или периодонтита. При этом разрушенные в результате патологического процесса эмаль и дентин замещаются искусственным пломбировочным материалом. Пломба защищает твердые ткани от микроорганизмов и агрессивной среды полости рта, восстанавливает его форму и внешний вид.</p>

								<div class="recommend_mobile">
									<a href="/answer.html" class="recommend_link">подробнее</a>
								</div>
							</div>
						</div>

						<div class="recommend_item">
							<header class="recommend_header">
								<div class="recommend_left">
									<div class="recommend_image">
										<img src="./answer_files/x-ray.svg" width="54" alt="">
									</div>

									<div class="recommend_base-text">
										<h4>Рентген зубов</h4>
										<p>Индивидуально</p>
									</div>
								</div>

								<div class="recommend_right">
									<a href="/answer.html" class="recommend_link">подробнее</a>
								</div>
							</header>

							<div class="recommend_text">
								<p>Сеть стоматологий Кариесу.нет предлагает своим клиентам комплексный метод диагностики зубов – рентген. С его помощью наши квалифицированные специалисты смогут не только детально рассмотреть анатомическое строение челюсти пациента, но и выявить причину его жалоб. Подобная процедура имеет крайнюю важность, так как позволяет выбрать эффективный вариант лечения.</p>

								<div class="recommend_mobile">
									<a href="/answer.html" class="recommend_link">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="footer_top __1">
			<div class="wrapper">
				<div class="footer_top-content">
					<div class="footer_top-left">
						<div class="footer_top-heading">Мы работаем для вас без выходных!</div>
						<p class="footer_top-descr">Записаться можно по телефону:</p>
					</div>
					<div class="footer_top-right">
						<a href="tel:777" class="footer_top-phone">+7 (495) 215-24-42</a>
						<a href="/answer.html#form-recall" class="button footer_top-btn popup">заказать звонок</a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer_middle">
			<div class="wrapper">
				<div class="footer_row __only-flex">
					<div class="footer_col">
						<div class="footer_heading">Услуги</div>

						<div class="footer_row">
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/answer.html">Лечение</a></li>
									<li><a href="/answer.html">Имплантология</a></li>
									<li><a href="/answer.html">Протезирование</a></li>
								</ul>
							</div>

							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/answer.html">Хирургия</a></li>
									<li><a href="/answer.html">Ортодонтия</a></li>
									<li><a href="/answer.html">Гигиена</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer_col">
						<div class="footer_heading">Навигация</div>

						<div class="footer_row">
							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/answer.html">Цены</a></li>
									<li><a href="/answer.html">Клиники</a></li>
									<li><a href="/answer.html">Доктора</a></li>
									<li><a href="/answer.html">Пациентам</a></li>
								</ul>
							</div>

							<div class="footer_col">
								<ul class="footer_nav">
									<li><a href="/answer.html">Отзывы</a></li>
									<li><a href="/answer.html">Вакансии</a></li>
									<li><a href="/answer.html">Карта сайта</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer_bottom">
			<div class="wrapper">
				<div class="footer_bottom-row">
					<a href="/answer.html" class="footer_logo">
						<img src="./answer_files/logo2.svg" width="219" height="69" alt="">
					</a>

					<div class="footer_copy">© 1998-2017 «Кариесу.нет» ООО «КХЗ»</div>

					<div class="footer_socials">
						<div class="footer_socials-text">Мы в социальных сетях:</div>

						<div class="footer_socials-items">
							<a href="/answer.html"><img src="./answer_files/vk.svg" alt=""></a>
							<a href="/answer.html"><img src="./answer_files/facebook.svg" alt=""></a>
							<a href="/answer.html"><img src="./answer_files/insta.svg" alt=""></a>
							<a href="/answer.html"><img src="./answer_files/youtube.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="forms mfp-hide" id="form-recall">
		<form action="/answer.html" class="form">
			<h4 class="form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</h4>

			<div class="form_item">
				<label class="form_label">Ваше имя</label>

				<div class="form_data">
					<input type="text" class="form_input">
				</div>
			</div>

			<div class="form_item">
				<label class="form_label">Номер телефона</label>

				<div class="form_data">
					<input type="tel" class="form_input">
				</div>
			</div>

			<div class="form_button">
				<button class="button" type="submit">заказать звонок</button>
			</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms mfp-hide" id="form-reviews">
		<form action="/answer.html" class="reviews_form forms_reviews">
			<div class="reviews_form-title">Оставить отзыв</div>

			<div class="reviews_form-item">
				<label class="reviews_label">Доктор</label>

				<div class="reviews_form-data">
					<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Доктор 1">Доктор 1</option>
						<option value="Доктор 2">Доктор 2</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-o2wp-container"><span class="select2-selection__rendered" id="select2-o2wp-container" title="Доктор 1">Доктор 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>

				<div class="reviews_star">
					<div class="reviews_star-text __type-2">Оцените доктора:</div>

					<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
						<option></option>
						<option value="1"></option>
						<option value="2"></option>
						<option value="3"></option>
						<option value="4"></option>
						<option value="5"></option>
					</select><div class="br-widget"><a href="/answer.html#" data-rating-value="1" data-rating-text=""></a><a href="/answer.html#" data-rating-value="2" data-rating-text=""></a><a href="/answer.html#" data-rating-value="3" data-rating-text=""></a><a href="/answer.html#" data-rating-value="4" data-rating-text=""></a><a href="/answer.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
				</div>
			</div>

			<div class="reviews_form-item">
				<label class="reviews_label">Клиника</label>

				<div class="reviews_form-data">
					<select required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Клиника 1">Клиника 1</option>
						<option value="Клиника 2">Клиника 2</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-zg1e-container"><span class="select2-selection__rendered" id="select2-zg1e-container" title="Клиника 1">Клиника 1</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>

				<div class="reviews_star">
					<div class="reviews_star-text __type-2">Оцените клинику:</div>

					<div class="br-wrapper br-theme-css-stars"><select class="no-select rating" style="display: none;"><option value=""></option>
						<option></option>
						<option value="1"></option>
						<option value="2"></option>
						<option value="3"></option>
						<option value="4"></option>
						<option value="5"></option>
					</select><div class="br-widget"><a href="/answer.html#" data-rating-value="1" data-rating-text=""></a><a href="/answer.html#" data-rating-value="2" data-rating-text=""></a><a href="/answer.html#" data-rating-value="3" data-rating-text=""></a><a href="/answer.html#" data-rating-value="4" data-rating-text=""></a><a href="/answer.html#" data-rating-value="5" data-rating-text=""></a><div class="br-current-rating"></div></div></div>
				</div>
			</div>

			<div class="reviews_form-item __offset-min">
				<label class="reviews_label">Ваш отзыв</label>

				<div class="reviews_form-data">
					<textarea required="" class="reviews_area"></textarea>
				</div>
			</div>

			<div class="reviews_form-item __offset-min-2">
				<div class="reviews_row">
					<div class="reviews_col">
						<input type="file" multiple="" class="jfilestyle" data-input="false" data-text="Приложить фото" id="jfilestyle-0" tabindex="-1" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);"><div class="jfilestyle   jfilestyle-theme-default"><div name="filedrag" style="position: absolute; width: 100%; height: 0px; z-index: -1;"></div><span class="focus-jfilestyle" tabindex="0"><label for="jfilestyle-0"><span>Приложить фото</span></label></span></div>
					</div>
					<div class="reviews_col">
						<button type="submit" class="button">Оставить отзыв</button>
					</div>
				</div>
			</div>

			<div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __order mfp-hide" id="form-order">
		<form class="form">
			<h3 class="form_title">Запись на прием</h3>

			<div class="form_item">
				<label class="form_label">Услуга</label>

				<div class="form_data">
					<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
						<option value="Ортопедия">Ортопедия</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-3i7v-container"><span class="select2-selection__rendered" id="select2-3i7v-container" title="Ортопедия">Ортопедия</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>

			<div class="form_item">
				<label class="form_label">Врач</label>

				<div class="form_data">
					<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
						<option>Рыбин Валерий Анатольевич</option>
						<option>Рыбин Валерий Анатольевич</option>
						<option>Рыбин Валерий Анатольевич</option>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-avea-container"><span class="select2-selection__rendered" id="select2-avea-container" title="Рыбин Валерий Анатольевич">Рыбин Валерий Анатольевич</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>

			<div class="form_item">
				<label class="form_label">Дата и время приема</label>

				<div class="form_data">
					<div class="form_row">
						<div class="form_col">
							<div class="form_input-block">
								<input class="form_input date" type="text">
							</div>
						</div>
						<div class="form_col">
							<select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
								<option>10:30</option>
								<option>10:40</option>
								<option>10:50</option>
							</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ofdj-container"><span class="select2-selection__rendered" id="select2-ofdj-container" title="10:30">10:30</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Ваш контактный телефон</label>

				<div class="form_data">
					<input type="tel" class="form_input">
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Ваше имя</label>

				<div class="form_data">
					<input type="text" class="form_input">
				</div>
			</div>
			<div class="form_item">
				<label class="form_label">Комментарий (необязательно)</label>

				<div class="form_data">
					<textarea class="form_area"></textarea>
				</div>
			</div>

			<div class="form_button">
				<button type="submit" class="button">отправить</button>
			</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __auth mfp-hide" id="form-auth">
		<form class="form">
			<div class="form_auth-title">Авторизоваться с помощью социальных сетей</div>

			<div class="form_socials">
				<a href="/answer.html"><img src="./answer_files/vk.svg" alt=""></a>
				<a href="/answer.html"><img src="./answer_files/facebook.svg" alt=""></a>
				<a href="/answer.html"><img src="./answer_files/insta.svg" alt=""></a>
				<a href="/answer.html"><img src="./answer_files/youtube.svg" alt=""></a>
			</div>
		</form>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __ok mfp-hide" id="form-call-ok">
		<div class="form">
			<div class="form_image">
				<img src="./answer_files/ok.svg" width="59" alt="">
			</div>
			<p class="form_ok">Ваш вызов принят!</p>
		</div>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<div class="forms __normal mfp-hide" id="form-normal">
		<div class="form">
			<div class="form_normal">Ваша заявка принята!</div>
			<p class="form_normal-text">В ближайшее время с Вами свяжутся наши специалисты для подтверждения запроса</p>
		</div>

		<button type="button" class="forms_close popup-close"></button>
	</div>

	<script src="./answer_files/jquery.min.js"></script>
	<script src="./answer_files/slick.min.js"></script>
	<script src="./answer_files/select2.min.js"></script>
	<script src="./answer_files/jquery.magnific-popup.min.js"></script>
	<script src="./answer_files/jquery.barrating.min.js"></script>
	<script src="./answer_files/bootstrap-datepicker.min.js"></script>
	<script src="./answer_files/bootstrap-datepicker.ru.min.js"></script>
	<script src="./answer_files/jquery-filestyle.min.js"></script>
	<script src="./answer_files/jquery.maskedinput.min.js"></script>
	<script src="./answer_files/lib.js"></script>
	<script src="./answer_files/app.js"></script>
	<script src="./answer_files/js" async="" defer=""></script>

<div id="feedly-mini" title="feedly Mini tookit"></div></body></html>