{% set hideItem = "style=\"display: none;\"" %}

{% if rows.0['#rows']|length > 0 %}
    {% for doctors in rows.0['#rows']|batch(3, '') %}
        <div class="doctors-more_items" {{ loop.index != 1 ? hideItem|raw : '' }}>
            {% for doctor in doctors %}
                {{ doctor|render }}
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
{% if rows.0['#rows']|length > 3 %}
    <span class="doctors-more_btn">+ показать еще</span>
    <span class="doctors-more_btn roll-up">свернуть</span>
{% endif %}
