{# Темизация списка услуг на странице "/services"#}
<div class="answer_row">
    {% for row in rows %}
        {{- row.content -}}
    {% endfor %}
    {#<div class="pagination-block answer_bottom">
        <div class="pagination-block_left">
            <a href="" class="pagination-block_more">+ Показать еще</a>
        </div>

        <div class="pagination-block_right">
            <div class="pagination">
                <a href="" class="pagination_prev"></a>
                <a href="">1</a>
                <a class="active" href="">2</a>
                <a href="">3</a>
                <a href="">...</a>
                <a href="">17</a>
                <a href="" class="pagination_next"></a>
            </div>
        </div>
    </div>#}
</div>
