.services-footer {
    margin-top: 80px;
    padding: 0 15px;
}
.home-text.page .wrapper > *:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
    display: none;
}
.home-text.page .wrapper .pagination-block_more {
    display: inline-block;
    cursor: pointer;
}
.home-text h1 {padding-bottom:15px}
.header_item:nth-child(3) {
    min-width: 200px;
    margin-right: 70px;
}
.doctor_col-2-3 {
    width: 62.1%
}
.doctor_plan.weekends {
    margin-top: 15px;
}
.price_old {
    text-decoration: line-through;
    color: #231f20;
    font: 36px 'GothamProLight';
    padding-right: 10px;
}
.with_old {
    border: 2px solid #2299d2;
}
.services_item.__full.__main .services_types {
    padding-top: 30px;
}
.services_item.__full.__main .services_type-items {
    flex-flow: row wrap;
}
.services_item.__full.__main .services_types .services_type-item {
    width: 24.7%;
    color: #535151;
    min-height: 60px;
}
.services_item.__full.__main .services_types .services_type-item.stub {
    cursor: default;
    border: none;
}
.services_item.__full.__main .services_types .services_type-items:after {
    content: '';
    flex: 0 1 24.7%;
}
.services_item.__full.__main .services_types .services_type-item img {
    margin-bottom: 0;
}

.service-detail_step ul {
    margin-bottom: 28px;
}

.service-detail_step ul:last-child {
    margin-bottom: 0;
}

.service-detail_step ul:not(.no-bullet) li {
    font: 14px/25px 'OpenSansLight';
    color: #524f50;
    margin-bottom: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service-detail_step ul:not(.no-bullet) li:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #38b4ef;
    display: inline-block;
    border-radius: 50%;
    margin-right: 14px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    top: 8px;
}
.clinics_item {padding:19px 28px}

/* Скрываем reCAPTCHA от Google*/
.grecaptcha-badge {
    display: none !important;
}
.footer_bottom .recaptcha {font-size: 11px;}
/* // reCaptcha */

.header_mobile-tel {
	background-image: url(/themes/fromTilda/img/ico/phone-icon.svg) !important;
	width: 24px !important;
    height: 24px !important;
}

.h2 {
    font: 36px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 35px;
    margin-left: -2px;
}

.h3 {
    font: 30px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 30px;
    margin-left: -2px;
}

.h4 {
    font: 24px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 18px;
}

.h5 {
    font: 16px/1.2 'GothamProMedium';
    color: #231f20;
    margin-bottom: 15px;
}

.h6 {
    font: 16px/20px 'GothamPro';
    color: #231f20;
    margin-bottom: 20px;
}

.services_base-text .h4 {
    font: 20px 'RobotoRegular';
    color: #303234;
    margin-bottom: 10px;
}

/* Политика конфиденциальности */
.policy ol li {list-style: none;}
.policy ol li:before {content:none;}
.policy ol>li>ol {margin: 10px 0 0 15px;}
.policy h2 {margin:25px 0 15px;font-size:24px;}
.policy p {margin:20px 0;}
/* // Политика конфиденциальности */

/* jivosite */
.leaf_25._bottom_DW .cssLeaf_1k, .leaf_25._right_3d .cssLeaf_1k, .leaf_25._left_MI .cssLeaf_1k {background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2240%22%20viewBox%3D%220%200%2032%2040%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23003865%22%20d%3D%22M0%200h9.02L32%2033.196V40H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%2319a5e8%22%20d%3D%22M9%200c3.581.05%2023%205.426%2023%2033.08v.03C18.922%2030.751%209%2019.311%209%205.554V0z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") !important}
.__client_1w ._blue_2r {background-color: #19a5e8 !important}
.sendButton_1o {background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2234%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%2319a5e8%22%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%2F%3E%3Cg%20transform%3D%22translate(10%209)%22%20fill%3D%22%23FFF%22%3E%3Crect%20x%3D%226%22%20y%3D%222%22%20width%3D%222%22%20height%3D%2214%22%20rx%3D%221%22%2F%3E%3Crect%20transform%3D%22rotate(-45%209.879%204.879)%22%20x%3D%228.879%22%20y%3D%22-.121%22%20width%3D%222%22%20height%3D%2210%22%20rx%3D%221%22%2F%3E%3Crect%20transform%3D%22scale(-1%201)%20rotate(-45%200%2015.243)%22%20x%3D%223.293%22%20y%3D%22-.121%22%20width%3D%222%22%20height%3D%2210%22%20rx%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A") !important}
/* // jivosite */

.license_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.54%;
    padding-bottom: 30px;
}
.license_item {
    width: 32.25%;
    background: #fcfcfe;
    border: 1px solid #eaf0f4;
    border-radius: 5px;
    margin: 0 .54% .54%;
    padding: 20px 21px 17px 24px;
    -webkit-box-shadow: 0 5px 10px rgba(43,56,63,.05);
    box-shadow: 0 5px 10px rgba(43,56,63,.05);
    text-decoration: none;
}
.license_item p {text-align:center;}

.clinic_text p strong {font-family:'OpenSansSemiBold';}

.clinic_text ol {
    counter-reset: item;
    padding: 10px 0;
}

.clinic_text ol li {
    font: 14px/20px 'OpenSansLight';
    margin-bottom: 10px;
}

.clinic_text ol li:last-child {
    margin-bottom: 0;
}

.clinic_text ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font: 14px 'RobotoRegular';
    color: #2299d2;
}

.answer_data p:last-of-type {
    display: inline;
}

.more-answer-link {
    line-height: 23px;
}

.footer_bottom {padding: 19px 0 40px;}

.price_cnt.flex-custom {
    justify-content: flex-end;
    flex-flow: row wrap;
    align-content: flex-start;
}

.nav_search.active .nav_input {
    min-width: 390px;
}

@media screen and (min-width: 768px) {
	.price_cnt.flex-custom {max-width: 265px;}
	.service-detail_about{width:680px;padding:40px 50px}
	.service-detail_top{padding:70px 0 24px}
}
@media screen and (min-width: 1230px) {
	.price_cnt.flex-custom {max-width: 460px;}
}

.price_cnt .flex-line-break {
    width: 100%;
}

.price_num .price-from, .price_num .price-to {
    font-size: 20px;
    width: 25px;
    display: inline-block;
}

#block-views-block-recommended-services-block-1 {
    margin-top: 50px;
}

@media screen and (max-width: 1230px) {
    .services_item.__full.__main .services_types .services_type-item {
        width: 32.7%;
    }
    .services_item.__full.__main .services_types .services_type-items:after {
        content: '';
        flex: 0 1 32.7%;
    }
    .reviews_block {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .reviews_left {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .reviews_right {
        margin-left: 0;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 900px) {
    .services_item.__full.__main .services_types .services_type-item {
        width: 47.7%;
    }
    .services_item.__full.__main .services_types .services_type-items:after {
        content: '';
        flex: 0 1 47.7%;
    }
}
@media screen and (max-width: 767px) {
    .doctor_col-2-3 {
        width: 75%
    }
    .price_old {
        font-size: 26px;
    }
}
@media screen and (max-width: 480px) {
    .doctor_col-2-3 {
        width: 62.5%;
        margin-left: 2%;
    }
}