.services-footer {
    margin-top: 80px;
    padding: 0 15px;
}
.home-text.page .wrapper > *:not(:first-child) {
    display: none;
}
.home-text.page .wrapper .pagination-block_more {
    display: inline-block;
    cursor: pointer;
}
.header_item:nth-child(3) {
    min-width: 200px;
    margin-right: 70px;
}
.doctor_col-2-3 {
    width: 62.1%
}
.doctor_plan.weekends {
    margin-top: 15px;
}
.price_old {
    text-decoration: line-through;
    color: #231f20;
    font: 36px 'GothamProLight';
    padding-right: 10px;
}
.with_old {
    border: 2px solid #2299d2;
}
.services_item.__full.__main .services_types {
    padding-top: 30px;
}
.services_item.__full.__main .services_type-items {
    flex-flow: row wrap;
}
.services_item.__full.__main .services_types .services_type-item {
    width: 24.7%;
    color: #535151;
    min-height: 60px;
}
.services_item.__full.__main .services_types .services_type-item.stub {
    cursor: default;
    border: none;
}
.services_item.__full.__main .services_types .services_type-items:after {
    content: '';
    flex: 0 1 24.7%;
}
.services_item.__full.__main .services_types .services_type-item img {
    margin-bottom: 0;
}

.service-detail_step ul {
    margin-bottom: 28px;
}

.service-detail_step ul:last-child {
    margin-bottom: 0;
}

.service-detail_step ul li {
    font: 14px/25px 'OpenSansLight';
    color: #524f50;
    margin-bottom: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service-detail_step ul li:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #38b4ef;
    display: inline-block;
    border-radius: 50%;
    margin-right: 14px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    top: 8px;
}

/* Скрываем reCAPTCHA от Google*/
.grecaptcha-badge {
    display: none !important;
}
.footer_bottom .recaptcha {font-size: 11px;}
/* // reCaptcha */

.header_mobile-tel {
	background-image: url(/themes/fromTilda/img/ico/phone-icon.svg) !important;
	width: 24px !important;
    height: 24px !important;
}

.h2 {
    font: 36px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 35px;
    margin-left: -2px;
}

.h3 {
    font: 30px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 30px;
    margin-left: -2px;
}

.h4 {
    font: 24px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 18px;
}

.h5 {
    font: 16px/1.2 'GothamProMedium';
    color: #231f20;
    margin-bottom: 15px;
}

.h6 {
    font: 16px/20px 'GothamPro';
    color: #231f20;
    margin-bottom: 20px;
}

.services_base-text .h4 {
    font: 20px 'RobotoRegular';
    color: #303234;
    margin-bottom: 10px;
}

/* Политика конфиденциальности */
.policy ol li {list-style: none;}
.policy ol li:before {content:none;}
.policy ol>li>ol {margin: 10px 0 0 15px;}
.policy h2 {margin:25px 0 15px;font-size:24px;}
.policy p {margin:20px 0;}
/* // Политика конфиденциальности */

.license_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.54%;
    padding-bottom: 30px;
}
.license_item {
    width: 32.25%;
    background: #fcfcfe;
    border: 1px solid #eaf0f4;
    border-radius: 5px;
    margin: 0 .54% .54%;
    padding: 20px 21px 17px 24px;
    -webkit-box-shadow: 0 5px 10px rgba(43,56,63,.05);
    box-shadow: 0 5px 10px rgba(43,56,63,.05);
    text-decoration: none;
}
.license_item p {text-align:center;}

@media screen and (max-width: 1230px) {
    .services_item.__full.__main .services_types .services_type-item {
        width: 32.7%;
    }
    .services_item.__full.__main .services_types .services_type-items:after {
        content: '';
        flex: 0 1 32.7%;
    }
}
@media screen and (max-width: 900px) {
    .services_item.__full.__main .services_types .services_type-item {
        width: 47.7%;
    }
    .services_item.__full.__main .services_types .services_type-items:after {
        content: '';
        flex: 0 1 47.7%;
    }
}
@media screen and (max-width: 767px) {
    .doctor_col-2-3 {
        width: 75%
    }
    .price_old {
        font-size: 26px;
    }
}
@media screen and (max-width: 480px) {
    .doctor_col-2-3 {
        width: 62.5%;
        margin-left: 2%;
    }
}