@font-face {
  font-family: 'vrubel';
  src: url('../fonts/vrubel.eot');
  src: url('../fonts/vrubel.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vrubel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.services-footer {
    margin-top: 80px;
    padding: 0 15px;
}
.home-text.page .wrapper > *:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
    display: none;
}
.home-text.page .wrapper .pagination-block_more {
    display: inline-block;
    cursor: pointer;
}
.home-text h1 {padding-bottom:15px}
.header_item:nth-child(3) {
    min-width: 200px;
    margin-right: 70px;
}
.doctor_col-2-3 {
    width: 62.1%
}
.doctor_plan.weekends {
    margin-top: 15px;
}
.doctor_info {font: 14px/25px 'OpenSansLight'}
.doctor_info p.h2 {
	font: 24px/1.2 'GothamProLight';
    color: #231f20;
    margin: 15px 0 2px 0;
}
.doctor_info p.h2:nth-of-type(1) {margin-top:0}
.doctor_info li {margin:0 0 10px 14px;position:relative}
.doctor_info li:before {
	content: '';
    width: 4px;
    height: 4px;
    background: #38b4ef;
    display: inline-block;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 14px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    left:-14px;
    top:10px
}
.price_old {
    text-decoration: line-through;
    color: #231f20;
    font: 26px 'GothamProLight';
    padding-right: 10px;
}
.with_old {
    border: 2px solid #2299d2;
}
.price_num {font:32px 'GothamProLight'}
.services_item.__full.__main .services_types {
    padding-top: 30px;
}
.services_item.__full.__main .services_type-items {
    flex-flow: row wrap;
}
.services_item.__full.__main .services_types .services_type-item {
    width: 24.7%;
    color: #535151;
    min-height: 60px;
}
.services_item.__full.__main .services_types .services_type-item.stub {
    cursor: default;
    border: none;
    box-shadow: none;
}
.services_item.__full.__main .services_types .services_type-items:after {
    content: '';
    flex: 0 1 24.7%;
}
.services_item.__full.__main .services_types .services_type-item img {
    margin-bottom: 0;
}

.service-detail_step ul {
    margin-bottom: 28px;
}

.service-detail_step ul:last-child {
    margin-bottom: 0;
}

.service-detail_step ul:not(.no-bullet) li {
    font: 14px/25px 'OpenSansLight';
    color: #524f50;
    margin-bottom: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.service-detail_step ul:not(.no-bullet) li:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #38b4ef;
    display: inline-block;
    border-radius: 50%;
    margin-right: 14px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    top: 8px;
}
.clinics_item {padding:19px 28px}

.akcii .services_item .services_header {padding-bottom:0}
.akcii .services_item .services_header .services_base-text .ended {color:red}
.page .sale-ended {font:16px/20px 'OpenSansSemiBold';color:red}

.service-detail_about p, .service-detail_block p, .service-detail_block ul li, .service-detail_block ol li {font:18px/30px 'OpenSansLight'}

.top {padding:40px 0 20px}

h2 {margin-bottom:10px;margin-top:35px}
@media screen and (max-width: 767px) {
.top {padding: 20px 0 0}
}

/* Статьи */
.page .flex-wrapper {
	display: flex;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.page .afterclear {padding-bottom:10px}
.page .afterclear:after {content:'';display:block;clear:both}
@media screen and (min-width: 768px) {
.page .flex-wrapper {flex-wrap:nowrap;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap}
.page .flex-wrapper > *:first-child {margin-right:20px}
}

/* Скрываем reCAPTCHA от Google*/
.grecaptcha-badge {
    display: none !important;
}
.footer_bottom .recaptcha {font-size: 11px;}
/* // reCaptcha */

.header_mobile-tel {
	background-image: url(/themes/fromTilda/img/ico/phone-icon.svg) !important;
	width: 24px !important;
    height: 24px !important;
}

.h2 {
    font: 36px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 35px;
    margin-left: -2px;
}

.h3 {
    font: 30px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 30px;
    margin-left: -2px;
}

.h4 {
    font: 24px/1.2 'GothamProLight';
    color: #231f20;
    margin-bottom: 18px;
}

.h5 {
    font: 16px/1.2 'GothamProMedium';
    color: #231f20;
    margin-bottom: 15px;
}

.h6 {
    font: 16px/20px 'GothamPro';
    color: #231f20;
    margin-bottom: 20px;
}

.services_base-text .h4 {
    font: 20px 'RobotoRegular';
    color: #303234;
    margin-bottom: 10px;
}
.services_base-text .h4 a {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  margin: inherit;
}

.price_data ul li {
    font: 14px/25px 'OpenSansLight';
    color: #524f50;
    margin-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.price_data ul li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #38b4ef;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    top: 10px;
}

/* Политика конфиденциальности */
.policy ol li {list-style: none;}
.policy ol li:before {content:none;}
.policy ol>li>ol {margin: 10px 0 0 15px;}
.policy h2 {margin:25px 0 15px;font-size:24px;}
.policy p {margin:20px 0;}
/* // Политика конфиденциальности */

/* jivosite */
.leaf_25._bottom_DW .cssLeaf_1k, .leaf_25._right_3d .cssLeaf_1k, .leaf_25._left_MI .cssLeaf_1k {background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2240%22%20viewBox%3D%220%200%2032%2040%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23003865%22%20d%3D%22M0%200h9.02L32%2033.196V40H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%2319a5e8%22%20d%3D%22M9%200c3.581.05%2023%205.426%2023%2033.08v.03C18.922%2030.751%209%2019.311%209%205.554V0z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") !important}
.__client_1w ._blue_2r {background-color: #19a5e8 !important}
.sendButton_1o {background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2234%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%2319a5e8%22%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%2F%3E%3Cg%20transform%3D%22translate(10%209)%22%20fill%3D%22%23FFF%22%3E%3Crect%20x%3D%226%22%20y%3D%222%22%20width%3D%222%22%20height%3D%2214%22%20rx%3D%221%22%2F%3E%3Crect%20transform%3D%22rotate(-45%209.879%204.879)%22%20x%3D%228.879%22%20y%3D%22-.121%22%20width%3D%222%22%20height%3D%2210%22%20rx%3D%221%22%2F%3E%3Crect%20transform%3D%22scale(-1%201)%20rotate(-45%200%2015.243)%22%20x%3D%223.293%22%20y%3D%22-.121%22%20width%3D%222%22%20height%3D%2210%22%20rx%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A") !important}
/* // jivosite */

.license_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.54%;
    padding-bottom: 30px;
}
.license_item {
    width: 32.25%;
    background: #fcfcfe;
    border: 1px solid #eaf0f4;
    border-radius: 5px;
    margin: 0 .54% .54%;
    padding: 20px 21px 17px 24px;
    -webkit-box-shadow: 0 5px 10px rgba(43,56,63,.05);
    box-shadow: 0 5px 10px rgba(43,56,63,.05);
    text-decoration: none;
}
.license_item p {text-align:center;}

.clinic_text p strong {font-family:'OpenSansSemiBold';}

.clinic_text ol {
    counter-reset: item;
    padding: 10px 0;
}

.clinic_text ol li {
    font: 14px/20px 'OpenSansLight';
    margin-bottom: 10px;
}

.clinic_text ol li:last-child {
    margin-bottom: 0;
}

.clinic_text ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font: 14px 'RobotoRegular';
    color: #2299d2;
}

.answer_data p:last-of-type {
    display: inline;
}

.more-answer-link {
    line-height: 23px;
}

.footer_bottom {padding: 19px 0 40px;}

.price_cnt.flex-custom {
    justify-content: flex-end;
    flex-flow: row wrap;
    align-content: flex-start;
}

.nav_search.active .nav_input {
    min-width: 390px;
}

a.about-num_item {text-decoration:none}

.not_desired_date_time {
  display: none;
}

.white-slide .main_title, .white-slide .main_text {color:#ffffff}
.main_slider .main_text.blutext {color:#2299d2}
.main_slider .main_text.darkblutext {color:#003865}

.doctors-feedback_btn {
    text-align: center;
    font: 12px/1 'OpenSansSemiBold';
    color: #2299d2;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 0;
    border: 1px solid #daddde;
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    width: 100%;
}

.doctors-feedback_btn:hover {
    border: 1px solid #2299d2;
}

@media screen and (min-width: 768px) {
	.price_cnt.flex-custom {max-width: 265px;}
	.service-detail_about{width:680px;padding:40px 50px}
	.service-detail_top{padding:70px 0 24px}
	.main_slider .main_title {font:48px/1.1 'GothamProBold'}
	.small-slide .main_title span {font-size:32px}
	.main_slider .main_text p {font:18px/1.1 'GothamProLight'}
	.main_slider .main_text.bigtext p {font:24px/1.1 'GothamProLight'}
}
@media screen and (min-width: 1230px) {
	.price_cnt.flex-custom {max-width: 460px;}
}
@media screen and (max-width: 1230px) {
  body {
    padding-top: 135px;
  }
}

.price_cnt .flex-line-break {
    width: 100%;
}

.price_num .price-from, .price_num .price-to {
    font-size: 20px;
    width: 25px;
    display: inline-block;
}

#block-views-block-recommended-services-block-1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Делаем для форм position:relative чтобы корректно отображалась заглушка */
#form-recall-form,
#form-order-form,
#question-form-wrapper,
#form-order-doctor-page,
#question-for-doctor-form,
#form-order-doctor-page-popup-form,
#review-form-on-doctor-page,
#recall-form-on-price-page,
#recall-form-on-service-page-form {
    position: relative;
}

.roll-up {
  display: none;
}

.data_time_stub {
  display: none;
  position: absolute;
  z-index: 9999;
  background-image: url(/themes/fromTilda/img/loading_spinner.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(1, 1, 1, 0.32);
  background-position: center;
}


@media screen and (max-width: 1230px) {
    .services_item.__full.__main .services_types .services_type-item {
        width: 32.7%;
    }
    .services_item.__full.__main .services_types .services_type-items:after {
        content: '';
        flex: 0 1 32.7%;
    }
    .reviews_block {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .reviews_left {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .reviews_right {
        margin-left: 0;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        margin-bottom: 40px;
    }
    .pagination-block_right {
      display: inline-block;
    }
    .pagination-block_right .pagination a {
      min-width: 30px;
      min-height: 30px;
    }
    .pagination-block_right .pagination a:first-child {
      margin-left: 0;
    }
}
@media screen and (max-width: 900px) {
    .services_item.__full.__main .services_types .services_type-item {
        width: 47.7%;
    }
    .services_item.__full.__main .services_types .services_type-items:after {
        content: '';
        flex: 0 1 47.7%;
    }
}
@media screen and (max-width: 767px) {
    .doctor_col-2-3 {
        width: 75%
    }
    .price_old {
        font-size: 26px;
    }
}
@media screen and (max-width: 480px) {
  .doctor_col-2-3 {
    width: 62.5%;
    margin-left: 2%;
  }
  .doctor_plan.__cloned.column-merg {
    display: none;
  }
  body {
    padding-top: 60px;
  }
}

.service-detail_block ul li a {
  margin-left: 5px;
  margin-right: 5px;
}

.user-login-form {
  display: flex;
  flex-direction: column;
}

.user-login-form > div {
  display: flex;
  flex-direction: column;
  margin: auto auto 20px;
}

.user-login-form > div label {
  margin: auto auto 10px;
}

#block-views-block-clinics-block-3 {
  margin-bottom: 20px;
}

#block-views-block-clinics-block-3 .clinics_items{
  display: flex;
  width: 100%;
  border: none;
}

#block-views-block-clinics-block-3 .clinics_items .clinics_item{
  margin: auto;
  padding: 19px 28px;
  border: 1px solid #e6e9ec;
}

@media screen and (max-width: 767px) {
  #block-views-block-clinics-block-3 {
    margin-bottom: 10px;
  }
  #block-views-block-clinics-block-3 .clinics_items{
    flex-direction: column;
  }
  #block-views-block-clinics-block-3 .clinics_items .clinics_item{
    margin: 0 auto 10px;
  }
}

.recommend_base-text .recommend_link_header{
  font: 20px 'RobotoRegular';
  color: #303234;
  margin-bottom: 10px;
  text-decoration: none;
}

.fix_top__1 {
  min-height: 145px;
  padding-bottom: 0;
}

.page .doctors-more {
  background: none;
}

.additionals-blocks {
  background: #f7fafd;
  margin-bottom: -80px;
}

@media screen and (max-width: 767px) {
  .additionals-blocks {
    background: #f7fafd;
    margin-bottom: -40px;
  }
}

.additionals-blocks .services_items.akcii .services_item {
  background: #fff;
}

.page p.ended {
  color: red;
}

.page ol li, .page ul li, .page p, .page a {font:18px/30px 'OpenSansLight'}
.page ul li:not(:last-child) {margin-bottom:15px}
.page a:hover {color:#f41224;text-decoration:underline}
.page ul li:before {top:15px; left: auto; margin-left: -20px}

.form_input,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.reviews_area,
.review_form_item-fio,
.form_area {
  border: 1px solid #d6d6d6;
}

.footer_socials {
  flex-wrap: wrap;
}

.footer_socials .footer_mails-items {
  flex-basis: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.footer_socials .footer_mails-items a {
  font-size: 0.8em;
}

#block-besplatnayakonsultaciya {
  background: #f7fafd;
  padding: 50px 0;
}

.free-consultation {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebedf0;
  padding: 22px 30px;
  background-image: url(/themes/fromTilda/img/footer-1_psi.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.free-consultation-item.custom-block-header {
  font: 20px 'RobotoRegular';
  color: #231f20;
  margin-bottom: 10px;
}

.free-consultation-item.check-marker-list {
  display: flex;
  flex-direction: column;
}

.free-consultation-item.check-marker-list .checker-mark-element {
  background: url(/themes/fromTilda/img/check_mark2.png) no-repeat;
  padding-left: 27px;
  margin-bottom: 10px;
  min-height: 20px;
}
.free-consultation-item.check-marker-list .checker-mark-element:last-child {
  margin-bottom: 0;
}

.free-consultation-item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .free-consultation {
    flex-direction: column;
  }
  .free-consultation-item.custom-block-header {
    text-align: center;
  }
  .free-consultation-item.check-marker-list {
    width: fit-content;
    margin: 0 auto;
  }
  .free-consultation-item.check-marker-list .checker-mark-element {
    width: fit-content;
  }
  .free-consultation-item:last-child {
    margin: 13px auto 0;
    min-width: 226px;
  }
}

.free-consult-wait-form {
  margin-top: -50px;
  margin-left: -45px;
}

.doctor_info {
  color: #231f20;
}

.service-detail_block .h2 {
  display: block;
  margin-bottom: 21px;
}

.service-detail_block .service-detail_only-mobile.h2 {
  display: none;
}

@media screen and (max-width: 767px) {
h2 {text-align:left}

  .service-detail_block .h2 {
    display: none;
  }
  .service-detail_block .service-detail_only-mobile.h2 {
    display: block !important;
    text-align: center;
    font-size: 22px;
  }
}

.price_sign {
  font: 20px 'vrubel';
}

.services_base-text p .price_sign {
  font: 24px 'vrubel';
  color: #2299d2;
 }

.all_reviews_for_doctor.link_wrapper {
  display: flex;
  justify-content: center;
}

.reviews_left .pagination-block .pagination-block_right {
  margin: 0 auto;
}

.reviews_image.avatar-exist {
  margin-left: 19px;
}

@media screen and (max-width: 1230px) {
  .reviews_image {
    margin-left: 0;
    margin-right: 0;
  }
  .reviews_image.avatar-exist {
    margin-left: 0;
    margin-right: 19px;
  }
}

.services_item.article_item {
  padding: 0;
}

.services_item.article_item {
  width: 32.1%;
}

.services_item.article_item img{
  width: 100%
}

.services_item.article_item .article_item_inner{
  padding: 15px 25px;
}
.views-articles-list .pagination-block_right {
  margin: 0 auto;
}

@media screen and (max-width: 1230px) {
  .services_item.article_item {
    width: 49.1%;
  }
}

@media screen and (max-width: 767px) {
  .services_item.article_item {
    width: 100%;
  }
}

.contact_me_wrapper {
  display: flex;
}

.contact_me_wrapper span {
  font: 14px 'OpenSansLight';
}

.form_input.contact_me {
  width: 19px;
  height: 19px;
  border: 1px solid #d6d6d6;
  margin-right: 0.2em;
  background-color: #ffffff;
}

.article_author {
  font: 18px/30px 'OpenSansLight';
  font-weight: bold;
}

.page_table {margin-bottom:20px}

.price_types a {margin-right:29px}
@media screen and (max-width: 1200px) {
.price_types li:first-of-type {margin-bottom:15px}
}

.tags {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
}

.tags a {
  padding: 10px 15px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font: 12px/1 'OpenSansSemiBold';
  color: #fbfbfb;
  background: #2299d2;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 10px
}

.stock-detail {
  color: #000;
}

.stock-detail_top {
  padding: 90px 0 74px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  .stock-detail_top {
    padding: 70px 0 24px;
  }
}

.stock-detail_about {
  width:auto;
  max-width: 480px;
  padding: 50px;
  background: #fff;
  -webkit-box-shadow: 0 11px 30px rgba(165,165,165,.7);
  box-shadow: 0 11px 30px rgba(165,165,165,.7);
}

/* .stock-detail_about {
    width: 680px;
    padding: 40px 50px;
    margin-bottom:70px;
  }
*/
.reviews_about {max-width:350px}
}

.stock-detail_about p {
  font: 14px/25px 'OpenSansLight';
  color: #524f50;
}

.stock-detail_price {
  padding: 65px 0 70px;
}

.stock-detail_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 34px;
}

.stock-detail_heading h2 {
  margin-bottom: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.stock-detail_heading a {
  position: relative;
  top: 8px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 10px;
}

.stock-detail_more {
  font: 13px 'OpenSansRegular';
  color: #2299d2;
  text-transform: uppercase;
}

.stock-detail_only-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .stock-detail_only-mobile {
    display: block !important;
    text-align: center;
  }
}

.page ol {
  margin-bottom: 35px;
}

.page ol li {
  color: #524f50;
}

.wrapper.another-stock {
  margin-top: 15px;
  margin-bottom: 15px;
}

.clinics_content.__base-2.clinics_list_2 .clinics_item {
  width: 30%;
}

.clinics_content.__base-2.clinics_list_3 .clinics_item {
  width: 100%;
}

.clinics_content.__base-2.clinics_list_3 .clinics_text {
  width: available;
  width: -webkit-fill-available;
  width: -moz-available;
  text-align: center;
}

#block-besplatnayakonsultaciya.article_free_consult {
  background: none;
}

.article_free_consult .checker-mark-element{
  font-family: OpenSansLight, monospace;
}

.article_free_consult a{
  color: #fbfbfb;
  font: 12px/1 'OpenSansSemiBold';
}

.article_free_consult a:hover{
  text-decoration: none;
  color: #fbfbfb;
}

.services_type-item a, .service-detail_type-item a {
  text-decoration: none;
  color: #535151;
  -webkit-transition: .3s;
  transition: .3s;
}

.services_type-item a:hover,
.services_type-item:hover,
.service-detail_type-item a:hover,
.service-detail_type-item:hover a {
  color: #81c3ec;
}

.recommend_items.relevant_items {
  flex-wrap: wrap;
}

.recommend_item.relevant_item {
  margin-bottom: 20px;
}

.recommend_item.relevant_item .recommend_header {
  border-bottom: 0;
}

#block-fromtilda-content iframe {
  width: 100%;
}

.recommend_base-text .price_sign{
  color: #5a5757;
  font-size: 16px;
}
.page strong {
    font-family: 'OpenSansSemiBold';
    font-size: inherit;
    color: inherit;
    display: inline;
}

.disclaimer {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  background: center center no-repeat;
  color: #003865;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  -webkit-box-shadow: inset 0px -2px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: inset 0px -2px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: inset 0px -2px 5px 0px rgba(50, 50, 50, 0.25);
  font-size: 20px;
  line-height: 30px;
  font-family: 'GothamProBold', serif;
}

.disclaimer .disclaimer_button {
  padding: 9px 10px;
  border-radius: 5px;
  text-align: center;
  font: 12px/1 'OpenSansSemiBold';
  color: #fbfbfb;
  text-decoration: none;
  display: inline-block;
  background: #f41224;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 10px;
}

.header {
  padding-top: 0;
}

.header_wrapper {
  padding-top: 10px;
}

@media screen and (max-width: 760px) {
  .disclaimer {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding-bottom: 10px;
    font-size:18px;
  }
}

@media screen and (max-width: 660px) {
  body {
    padding-top: 145px;
  }
}
@media screen and (max-width: 597px) {
  body {
    padding-top: 175px;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 50px;
  }
}

@media screen and (max-width: 370px) {
  body {
    padding-top: 180px;
  }
}
@media screen and (max-width:320px) {
  .disclaimer {font-size:15px}
}


.anchor-button-wrapper {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 20px;
}
.anchor-button-wrapper span {
  font: 14px 'OpenSansRegular';
  color: #2299d2;
  text-decoration: none;
  padding: 5px 2px;
  border-bottom: 1px dashed #2299d2;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin: 0 30px 20px 0;
}

.anchor-button-wrapper span:hover {
	border-bottom: 1px dashed #003865;
	color: #003865;
}

.header_time p {
	font: 14px/1 'OpenSansLight';
    color: #abadae;
    letter-spacing: -.1px;
}

.header_time p.first {
  margin-bottom: 8px;
  font: 20px/1 'GothamProMedium';
  color: #2299d2;
  text-align: left;
}
@media screen and (max-width: 767px) {
	.anchor-button-wrapper {margin-top:10px}
	.service_page .wrapper .price_item.__align-center {margin-top:12px;margin-bottom:12px}
	.price_items.__mobile-center .price_cnt {margin:15px auto 0}
  .bread {
    display: flex;
  }
}
@media screen and (max-width:480px) {
  .header_time p {font: 13px/1 'OpenSansLight'}
  .header_time p.first {font: 18px/1 'GothamProMedium'}
}
@media screen and (max-width:320px) {
  .header_time p {font: 11px/1 'OpenSansLight'}
  .header_time p.first {font: 15px/1 'GothamProMedium'}
}

.service-detail_price.service_page .wrapper, .article-detail_price.article_page .wrapper {
  max-width:1220px
}

.service-detail_price.service_page .wrapper div:nth-child(2), .article-detail_price.article_page .wrapper .price_items {
  max-width:880px
}

.service_page .wrapper .price_what, .article_page .wrapper .price_what {
  margin-bottom: 0;
}

.service_page .wrapper .price_item.__align-center, .article_page .wrapper .price_item.__align-center {
  margin-top: 12px;
  margin-bottom: 12px;
}

.service_page .wrapper .price_num, .article_page .wrapper .price_num {
  font-size: 20px;
}

.services-top {
  margin-top: 60px;
  padding: 0 15px;
}
.article-detail_price {margin-bottom:35px}
@media screen and (max-width: 767px) {
.services-top {margin-top:15px}
.services-top p {font:14px/24px 'OpenSansLight'}
.services-top .wrapper {padding:0}
}
.wrapper.stock {
  margin-bottom: 65px;
}

.top.__1 {
  background-size: cover;
}
